<fieldset class="row" ng-disabled="!PermissionsService.permissionEnabledEditGame() || currentGame.deployed">

            <h3>Calibrazione gioco</h3>
            <hr style="border-color: black;">
        </div>
        <!-- Start and end date -->
        <div class="col-sm-12" style="margin-bottom: 20px;">
            <p style="display: inline-block" class="col-sm-3">
                 <b>Data di inizio:&emsp;</b>
            </p>
            <p class="input-group" class="col-sm-4" style="display: inline-block">
                <b>{{$parent.startDate | date:"dd/MM/yyyy"}}</b>
                <!-- <input style="width: 200px" class="form-control" type="text" uib-datepicker-popup="{{dateFormat}}" is-open="isCalendarOpen[0]"
                    ng-model="$parent.startDate" min-date="minDate" ng-required="true" current-text="Oggi" clear-text="Azzera" close-text="Fatto"
                /> -->
                <!-- <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="isCalendarOpen[0] = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span> -->
            </p>
        </div>
        <div class="col-sm-12" style="margin-bottom: 20px;">
            <p style="display: inline-block" class="col-sm-3">
                 <b>Data di fine:&emsp;</b>
            </p>
            <p class="input-group" class="col-sm-4" style="display: inline-block">
                <b>{{$parent.endDate | date:"dd/MM/yyyy"}}</b>

                <!-- <input style="width: 200px" class="form-control" type="text" uib-datepicker-popup="{{dateFormat}}" is-open="isCalendarOpen[1]"
                    ng-model="$parent.endDate" min-date="minDate" ng-required="true" current-text="Oggi" clear-text="Azzera" close-text="Fatto"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="isCalendarOpen[1] = true">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span> -->
            </p>
        </div>
        <div class="row">
            <div class="col-sm-3"><p>&emsp;<b>Giorni di chiusura:</b>
                <i class="glyphicon glyphicon-info-sign" tooltip-placement="auto top" tooltip-append-to-body="true" 
                uib-tooltip="specificare il numero di giorni in cui la scuola rimane chiusa durante il periodo del gioco, ad esclusione di sabati e domeniche."></i>
            </p></div>
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <input class="form-control" type="number" ng-model="currentGame.params.giorni_chiusi" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><p>&emsp;<b>Bonus meteo (metri):</b></p></div>
            <div class="col-sm-3">nuovoloso</div>
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <input class="form-control" type="number" ng-model="currentGame.params.const_cloudy_bonus" />
            </div>
            <div class="col-sm-12">
            <div class="col-sm-3">pioggia</div>
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <input class="form-control" type="number" ng-model="currentGame.params.const_rain_bonus" />
            </div>
            </div>
            <div class="col-sm-12">
            <div class="col-sm-3">neve</div>
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <input class="form-control" type="number" ng-model="currentGame.params.const_snow_bonus" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><p>&emsp;<b>Bonus performance (metri):</b></p></div>
            <div class="col-sm-3">giorno impatto zero</div>
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <input class="form-control" type="number" ng-model="currentGame.params.const_ZeroImpactDayClass_bonus" />
            </div>
            <div class="col-sm-12">
            <div class="col-sm-3">giorno senz'auto</div>
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <input class="form-control" type="number" ng-model="currentGame.params.const_NoCarDayClass_bonus" />
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><p>&emsp;<b>Km stimati: {{calculateKMStimati()}}</b></p></div>
            <div class="col-sm-3">
                <b>km sfide:</b>
            </div>
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <input class="form-control" type="number" ng-model="currentGame.params.km_bonus" />
            </div>
            <div class="col-sm-12">
                <b>Km target: {{calculateKMTarget()}}</b></p>
            </div>
        </div>
    </fieldset>