<fieldset class="row" ng-disabled="!PermissionsService.permissionEnabledEditGame() || currentGame.deployed">

    <div class="col-sm-12 col-12 ">
        <h3>Velocità giornaliera</h3>
        <hr style="border-color: black;">
    </div>
    <!-- New avg distance for mean -->
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 20px;">
            <label style=" font-weight: bold">Distanza media (metri)
                <i class="glyphicon glyphicon-info-sign information-circle" tooltip-placement="auto top"
                    tooltip-append-to-body="true" uib-tooltip="Lunghezza media singolo tratto"></i>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <p>
                A Piedi</b>
            </p>
        </div>
        <div class="col-sm-6 col-xs-6" style="margin-bottom: 20px;">
            <input class="form-control" type="number" min="0" ng-change="changedAndcalculateCDND()"
                ng-model="currentGame.params.const_walk_distance" ng-disabled="!isModalityPresent('walk')" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <p>
                In bici
            </p>
        </div>
        <div class="col-sm-6 col-xs-6" style="margin-bottom: 20px;">
            <input class="form-control" type="number" min="0" ng-change="changedAndcalculateCDND()"
                ng-model="currentGame.params.const_bike_distance" ng-disabled="!isModalityPresent('bike')" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <p>
                Scuolabus o trasporto pubblico
            </p>
        </div>
        <div class="col-sm-6 col-xs-6" style="margin-bottom: 20px;">
            <input class="form-control" type="number" min="0" ng-change="changedAndcalculateCDND()"
                ng-model="currentGame.params.const_bus_distance" ng-disabled="!isModalityPresent('bus')" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <p>
                Pedibus
            </p>
        </div>
        <div class="col-sm-6 col-xs-6" style="margin-bottom: 20px;">
            <input class="form-control" type="number" min="0" ng-change="changedAndcalculateCDND()"
                ng-model="currentGame.params.const_pedibus_distance" ng-disabled="!isModalityPresent('pedibus')" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <p>
                In auto fino alla piazzola di sosta
            </p>
        </div>
        <div class="col-sm-6 col-xs-6" style="margin-bottom: 20px;">
            <input class="form-control" type="number" min="0" ng-change="changedAndcalculateCDND()"
                ng-model="currentGame.params.const_pandr_distance" ng-disabled="!isModalityPresent('pandr')" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <p>
                Car pooling
            </p>
        </div>
        <div class="col-sm-6 col-xs-6" style="margin-bottom: 20px;">
            <input class="form-control" type="number" min="0" ng-change="changedAndcalculateCDND()"
                ng-model="currentGame.params.const_carpooling_distance"
                ng-disabled="!isModalityPresent('carpooling')" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <p>
                In auto fino a scuola
            </p>
        </div>
        <div class="col-sm-6 col-xs-6" style="margin-bottom: 20px;">
            <input class="form-control" type="number" min="0" ng-change="changed()" ng-model="currentGame.params.const_car_distance"
                disabled />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6">
            <p><b>Velocità stimata(KM/gg):
        </div>
        <div class="col-sm-6 col-xs-6"> <span ng-if="cdnd!=undefined">{{cdnd/1000 | number : 3}}</span></div>
        </b></p>


    </div>
    <div class="col-sm-12 col-12 ">
        <h3>Stima distanza percorso</h3>
        <hr style="border-color: black;">
    </div>
    <!-- <h3>Calibrazione gioco
        <i class="glyphicon glyphicon-info-sign information-circle" tooltip-placement="auto top"
            tooltip-append-to-body="true"
            uib-tooltip="Inserisci le informazioni richieste sui campi liberi per poter calibrare il gioco."></i>
    </h3> -->
    <hr style="border-color: black;">
    </div>
    <!-- Start and end date -->
    <div class="row min-height-50">
        <div class="col-sm-6 col-xs-6">
            <p><b>Data di inizio:</b>

            </p>
        </div>
        <div class="col-sm-6 col-xs-6">
            <b>{{$parent.startDate | date:"dd/MM/yyyy"}}</b>
        </div>
    </div>
    <div class="row min-height-50">
        <div class="col-sm-6 col-xs-6">
            <p><b>Data di fine:</b>

            </p>
        </div>
        <div class="col-sm-6 col-xs-6">
            <b>{{$parent.endDate | date:"dd/MM/yyyy"}}</b>
        </div>
    </div>


    <div class="row min-height-50">
        <div class="col-sm-6 col-xs-6">
            <p><b>Giorni di chiusura:</b>
                <i class="glyphicon glyphicon-info-sign information-circle" tooltip-placement="auto top"
                    tooltip-append-to-body="true"
                    uib-tooltip="specificare il numero di giorni in cui la scuola rimane chiusa durante il periodo del gioco, ad esclusione di sabati e domeniche."></i>
            </p>
        </div>
        <div class="col-sm-6 col-xs-6">
            <input class="form-control" string-to-number type="number" min="0" oninput="validity.valid||(value='');"
                ng-change="calculateKMStimati()" ng-model="currentGame.params.giorni_chiusi" />
        </div>
    </div>
    <div class="row min-height-50">
        <div class="col-sm-6 col-xs-6">
            <p><b>Km stimati:
                    <i class="glyphicon glyphicon-info-sign information-circle" tooltip-placement="auto top"
                        tooltip-append-to-body="true"
                        uib-tooltip="Sono i Km che riesce a percorrere virtualmente il gruppo nell'arco della durata del gioco. Viene calcolato moltiplicando la velocità giornaliera del gruppo per i giorni di gioco effettivi."></i>
        </div>
        <div class="col-sm-6 col-xs-6"> <span ng-if="kmStimati!=undefined">{{kmStimati | number : 3}}</span></div></b></p>
    </div>
    <div class="row min-height-50">
        <div class="col-sm-6 col-xs-6">
            <p><b>Km sfide:</b></p>
        </div>
        <div class="col-sm-6 col-xs-6">
            <input class="form-control" string-to-number type="number" min="0" oninput="validity.valid||(value='');"
                ng-change="calculateKMTarget()" ng-model="currentGame.params.km_bonus" />
        </div>
    </div>
    <div class="row min-height-50">
        <div class="col-sm-6 col-xs-6">
            <p><b>Km target:
                    <i class="glyphicon glyphicon-info-sign information-circle" tooltip-placement="auto top"
                        tooltip-append-to-body="true"
                        uib-tooltip="Sono i Km totali percorsi, ed indicano la possibile distanza finale del gioco."></i>
        </div>
        <div class="col-sm-6 col-xs-6"> <span ng-if="kmTarget!= undefined">{{kmTarget | number : 3}}</span></div></b></p>


    </div>
    <div class="row min-height-50">
        <div class="col-sm-12 col-12 ">
            <h3>Bonus gioco</h3>
            <hr style="border-color: black;">
        </div>
    </div>
    <div class="row min-height-50">
        <div class="col-sm-12">
            <p><b>Bonus meteo (metri):</b></p>
        </div>
    </div>
    <div class="row min-height-50">
        <div class="col-sm-6 col-xs-6">Nuovoloso</div>
        <div class="col-sm-6 col-xs-6" style="margin-bottom: 20px;">
            <input class="form-control" string-to-number type="number" min="0" oninput="validity.valid||(value='');"
                ng-change="changed()" ng-model="currentGame.params.const_cloudy_bonus" />
        </div>
    </div>
    <div class="row min-height-50">
        <div class="col-sm-6 col-xs-6">Pioggia</div>
        <div class="col-sm-6 col-xs-6" style="margin-bottom: 20px;">
            <input class="form-control" string-to-number type="number" min="0" oninput="validity.valid||(value='');"
                ng-change="changed()" ng-model="currentGame.params.const_rain_bonus" />
        </div>
    </div>
    <div class="row min-height-50">
        <div class="col-sm-6 col-xs-6">Neve</div>
        <div class="col-sm-6 col-xs-6" style="margin-bottom: 20px;">
            <input class="form-control" string-to-number type="number" min="0" oninput="validity.valid||(value='');"
                ng-change="changed()" ng-model="currentGame.params.const_snow_bonus" />
        </div>
    </div>
    <div class="row min-height-50">
        <div class="col-sm-12">
            <p><b>Bonus performance (metri):</b></p>
        </div>
    </div>
    <div class="row min-height-50">
        <div class="col-sm-6 col-xs-6">Giorno impatto zero</div>
        <div class="col-sm-6 col-xs-6" style="margin-bottom: 20px;">
            <input class="form-control" string-to-number type="number" min="0" oninput="validity.valid||(value='');"
                ng-change="changed()" ng-model="currentGame.params.const_ZeroImpactDayClass_bonus" />
        </div>
    </div>
    <div class="row min-height-50">
        <div class="col-sm-6 col-xs-6">Giorno senz'auto</div>
        <div class="col-sm-6 col-xs-6" style="margin-bottom: 20px;">
            <input class="form-control" string-to-number type="number" min="0" oninput="validity.valid||(value='');"
                ng-change="changed()" ng-model="currentGame.params.const_NoCarDayClass_bonus" />
        </div>
    </div>
</fieldset>