<fieldset class="row" ng-disabled="!PermissionsService.permissionEnabledEditGame() || currentGame.deployed">
    Lista giocatori
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Tutte le classi
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-repeat="classe in classes track by $index">{{classe}}</a></li>
        </ul>
      </div>
        <div class="col-sm-12 center field">
        <a class="btn btn-info btn-margin" data-ui-sref="root.game.player({idPlayer: ''})">Crea nuovo</a>
    </div>
    <div class="col-sm-12 search-container">
        <!-- <label class="search-label">Cerca: <input ng-model="searchText"></label> -->
        <ul class="list-group list-categories">
            <li class="list-group-item" data-ng-repeat="player in players | filter:searchText">
                <div class="row v-center">
                    <div class="col-sm-10">
                        <span ng-if="!editIsEnabled($index)">{{$index + 1}}. {{player.nickname}}</span>
                        <input type="text" ng-model="player.nickname" ng-if="editIsEnabled($index)">
                        <!-- <span>{{$index + 1}}. {{player.nickname}}</span> -->
                        <span>{{player.classRoom}}</span>     
                    </div>
                    <div class="col-sm-2 pull-right">
                        <a ng-if="!editIsEnabled($index)" ng-click="enableEdit($index)" class="btn btn-icon btn-primary" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a ng-if="editIsEnabled($index)" ng-click="saveEdit($index)" class="btn btn-icon btn-primary" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a data-ng-click="remove(player)" class="btn btn-icon btn-danger" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="alert alert-success" role="alert" ng-if="done">Modifica effettuata con successo</div>
    </fieldset>