<div class="col-sm-12">
			<fieldset class="row" ng-disabled="!PermissionsService.permissionEnabledEditPlayer()">
				<div class="row">
					<div class="col-sm-6">
						Lista giocatori<i
							class="glyphicon glyphicon-info-sign information-circle"
							tooltip-placement="auto top" tooltip-append-to-body="true"
							uib-tooltip="Crea ciascun giocatore inserendo il soprannome e la classe di appartenenza. Puoi visualizzare sotto la lista di tutti i giocatori già inseriti."></i>
					</div>
					<div class="col-sm-6">
						Aggiungi giocatore
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<select class="form-control" ng-model="gamers.currentClass"
							style="width: 200px;" ng-change="changeCurrentClass()">
							<option value="">Tutte le classi</option>
							<option ng-repeat="classe in classes track by $index">{{classe}}</option>
						</select>
					</div>
	        <div class="col-sm-6">	        
	        	<div class="row spacerow">
	        		<div class="col-sm-4">
								<span class="required-sign">*</span> <b>Nickname:</b>	        		
	        		</div>
	        		<div class="col-sm-8">
		            <input class="form-control" type="text" ng-model="selectedPlayer.nickname"/>
	        		</div>	            
	        	</div>
            <div class="row spacerow">
            	<div class="col-sm-4">
            		<span class="required-sign">*</span> <b>Classe:</b>
            	</div>
            	<div class="col-sm-8">
                <select ng-model="selectedPlayer.classRoom" class="form-control">
                    <option ng-repeat="classe in classes track by $index">{{classe}}</option>
                </select>            	
            	</div>
            </div>
            <div class="row spacerow">
	            <div class="btn btn-primary btn-lg center-block" role="button" ng-click="addNewPlayer()"  
	            	ng-disabled="!isNewPlayerCompleted()" >
	                Aggiungi</div>            
            </div>
	        </div>				
				</div>
</div>
<!-- <div class="col-sm-12 center field">
        <a class="btn btn-info btn-margin" data-ui-sref="root.game.player({idPlayer: ''})">Crea nuovo</a>
    </div> -->
    <div class="col-sm-12">
        <div class="row">
            <!--  <div ng-if="!isAddPlayer"><a class="btn btn-primary btn-lg pull-right margin-lg" role="button"
                    ng-click="switchAddPlayer()">Crea nuovo giocatore</a></div> -->


        </div>
        <div ng-if="players.length && players.length >0">

        <div class="col-sm-12 search-container" >
            <!-- <label class="search-label">Cerca: <input ng-model="searchText"></label> -->
            <ul class="list-group list-categories">
                <li class="list-group-item gamer"
                    data-ng-repeat="player in players | filter: {classRoom: gamers.currentClass}">
                    <div class="row v-center">
                        <div class="col-sm-10">
                            <span ng-if="!isEditEnabled[$index]">{{$index + 1}}. {{player.nickname}}</span>
                            <input type="text" ng-change="changed()" ng-model="player.nickname"
                                ng-if="isEditEnabled[$index]">
                            <!-- <span>{{$index + 1}}. {{player.nickname}}</span> -->
                            <span ng-if="!isEditEnabled[$index]">{{player.classRoom}}</span>
                            <select ng-if="isEditEnabled[$index]" ng-options="class as class for class in classes"
                                ng-model="player.classRoom" ng-required="true"></select>
                        </div>
                        <div class="edit-gamer">
                            <a ng-if="!isEditEnabled[$index]" ng-click="enableEdit($index)"
                                class="btn btn-icon btn-primary" role="button"><i class="fa fa-pencil"
                                    aria-hidden="true"></i></a>
                            <a ng-if="isEditEnabled[$index]" ng-click="saveEdit($index)"
                                class="btn btn-icon btn-primary" role="button"><i class="fa fa-check"
                                    aria-hidden="true"></i></a>
                            <a data-ng-click="remove($index)" class="btn btn-icon btn-danger" role="button"><i
                                    class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        </div>
        <div ng-if="!players || players.length == 0">
            <div class="col-sm-12 search-container">
                <p class="empty-list">Nessun giocatore presente</p></div>
        </div>
        <div class="col-sm-12 alert alert-success" role="alert" ng-if="done">Modifica effettuata con successo</div>
</fieldset>