<fieldset class="row" ng-disabled="!PermissionsService.permissionEnabledInfoGame()">
    <!-- Name -->
    <div class="col-sm-12 field">
        <p class="col-sm-4 col-xs-4">
            <span class="required-sign">*</span>
            <b>Nome:</b>
        </p>
        <input class="form-control col-sm-3" type="text" ng-change="changed()" ng-model="currentGame.gameName"
            ng-required="true" />
    </div>
    <!--     Description
    <div class="col-sm-12 field">
        <p>
            <span class="required-sign">*</span>
            <b>Descrizione:</b>
        </p>
        <text-angular ng-model="currentGame.gameDescription" ng-required="true"></text-angular>
    </div> -->
    <!-- Start and end date -->
    <div class="col-sm-12 col-12" style="margin-bottom: 20px;">
        <p style="display: inline-block" class="col-sm-4 col-xs-4">
            <span class="required-sign">*</span>
            <b>Data di inizio:&emsp;</b>
        </p>
        <p class="input-group col-sm-5 col-5" style="display: inline-block">
            <input style="width: 200px" class="form-control" type="text" uib-datepicker-popup="{{dateFormat}}"
                is-open="isCalendarOpen[0]" ng-disabled="currentGame.deployed" ng-change="changed()"
                ng-model="$parent.startDate" min-date="minDate" ng-required="true" current-text="Oggi"
                clear-text="Azzera" close-text="Fatto" />
            <span class="input-group-btn">
                <button ng-disabled="currentGame.deployed" type="button" class="btn btn-default"
                    ng-click="isCalendarOpen[0] = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <div class="col-sm-12 col-12 " style="margin-bottom: 20px;">
        <p style="display: inline-block" class="col-sm-4 col-xs-4">
            <span class="required-sign">*</span>
            <b>Data di fine:&emsp;</b>
        </p>
        <p class="input-group col-sm-5 col-5" style="display: inline-block">
            <input style="width: 200px" class="form-control" type="text" uib-datepicker-popup="{{dateFormat}}"
                is-open="isCalendarOpen[1]" ng-disabled="currentGame.deployed" ng-change="changed()"
                ng-model="$parent.endDate" min-date="minDate" ng-required="true" current-text="Oggi" clear-text="Azzera"
                close-text="Fatto" />
            <span class="input-group-btn">
                <button ng-disabled="currentGame.deployed" type="button" class="btn btn-default"
                    ng-click="isCalendarOpen[1] = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </p>
    </div>
    <div class="col-sm-12 col-12 field">
        <p class="col-sm-4 col-4 col-xs-4">
            <span class="required-sign ">*</span>
            <b>Link breve: <i class="glyphicon glyphicon-info-sign information-circle" tooltip-placement="auto top"
                    tooltip-append-to-body="true"
                    uib-tooltip="Si tratta della parte finale del link pubblico del gioco."></i>
            </b>
        </p>
        <input class="form-control col-sm-4" type="text" ng-change="changed()" ng-model="currentGame.shortName"
            ng-required="true" ng-disabled="!PermissionsService.permissionEnabledShortLink()" />
    </div>
    <div class="col-sm-12 col-12 field">
        <p class="col-sm-4 col-4 col-xs-4">
            <span class="required-sign">*</span>
            <b>Sponsor:</b>
        </p>
        <select ng-model="currentGame.sponsorTemplate" ng-required="true" style="width: 150px;"
            ng-disabled="!PermissionsService.permissionEnabledSponsor()">
            <option value="trentino">Trentino 2020</option>
            <option value="trentino_2021">Trentino 2021</option>
            <option value="trentino_2022">Trentino 2022</option>
            <option value="trentino_2023_1">Trentino 2023 1</option>
            <option value="trentino_2023_2">Trentino 2023 2</option>
            <option value="ferrara">Ferrara 2021</option>
            <option value="ferrara_2022">Ferrara 2022</option>
            <option value="ferrara_2023">Ferrara 2023</option>
            <option value="staffetta">Staffetta</option>
            <option value="collecchio">Collecchio</option>
            <option value="lecco">Lecco 2021</option>
            <option value="lecco_2022">Lecco 2022</option>
            <option value="lecco_2023">Lecco 2023</option>
            <option value="svizzera">Svizzera</option>
            <option value="svizzera_2023">Svizzera 2023</option>
            <option value="romagna">Emilia-Romagna</option>
            <option value="romagna_2023">Emilia-Romagna 2023</option>
            <option value="gorgonzola_2023">Gorgonzola 2023</option>
            <option value="urf">URF</option>
        </select>
    </div>
</fieldset>
<fieldset class="row" ng-disabled="!PermissionsService.permissionEnabledEditClasses()">

    <div class="col-sm-12 col-12 ">
        <h3>Team di gioco</h3>
        <hr style="border-color: black;">
    </div>
    <!-- Classi partecipanti -->
    <div class="col-sm-12">
        <div class="row">
                    <span class="required-sign">*</span>
            <b>Aggiungi le classi che parteciperanno al gioco:</b>
            <div ng-if="addClass" class="pull-right adder"> Aggiungi classe:
                <input ng-change="changed()" type="text" ng-model="new.classe">
                <a class="btn btn-primary btn-lg" role="button" ng-click="addClasse(new.classe)">Aggiungi</a>
            </div>
            <div ng-if="!addClass"><a class="btn btn-primary btn-lg pull-right" role="button"
                    ng-click="switchAddClasse()" ng-disabled="currentGame.deployed">Crea nuova classe</a></div>

        </div>

        <!-- <div style="margin-left: 10px;" class="checkbox-inline">
            <label style="font-weight: normal">
                <input type="checkbox" ng-click="toggleSelectedClasses()" ng-disabled="currentGame.deployed" ng-model="classesAllSelected">Seleziona tutto&ensp;|&ensp;
            </label>
        </div> -->
        <!-- <div ng-repeat="classe in classes track by $index">
                <div class="class-button "> <span>{{classe}} <span><a class="btn btn-primary btn-lg" role="button"><i class="fas fa-trash" ng-click="classToggled(classe)"></i></a></span>
                </div> 
        </div> -->
        <div ng-if="classes.length && classes.length >0">
            <div class="col-sm-4 col-4" ng-repeat="classe in classes track by $index">
                <div class="btn btn-sm class-button" ng-click="classToggled(classe)" ng-disabled="currentGame.deployed">
                    <div><span class="fa fa-trash pull-right"></span> {{classe}}</div>
                </div>
            </div>
        </div>
        <div ng-if="!classes || classes.length == 0">
            <div class="col-sm-4 col-4">
                <p class="empty-list">Nessuna classe presente</p></div>
        </div>
        <!-- Num studenti nelle classi -->
        <!-- <div class="col-sm-12 field">
        <p>
            <b>Num. studenti nelle classi: {{nrOfStudenti}}</b>
        </p>
    </div> -->
        <!-- Global Team -->
        <div class="col-sm-12  col-12 field">
            <span class="required-sign">*</span>
            <p>
                <b>Nome Team di gioco: <i class="glyphicon glyphicon-info-sign information-circle"
                        tooltip-placement="auto top" tooltip-append-to-body="true"
                        uib-tooltip="E' il nome della squadra che partecipa al gioco e comprende tutte le classi partecipanti. Puoi modificare il nome della squadra per personalizzarlo."></i>
                </b>
            </p>
            <input class="form-control" type="text" ng-disabled="currentGame.deployed" ng-change="changed()"
                ng-model="currentGame.globalTeam" ng-required="true" />
        </div>
</fieldset>
<fieldset class="row" ng-disabled="!PermissionsService.permissionEnabledInfoGame()">

    <div class="col-sm-12 col-12 ">
        <h3>Modalità di arrivo a scuola</h3>
        <hr style="border-color: black;">
    </div>
    <div class="col-sm-12 col-12 ">
        <div class=" col-12 col-sm-12  " ng-repeat="modality in modalities">
            <label style="font-weight: normal">
                <input type="checkbox" class="checkBoxStyle" value="{{modality.value}}  "
                    ng-disabled="!modality.active || currentGame.deployed || modality.value=='absent'"
                    ng-change="changed()" ng-model="modality.selected">{{modality.label}}&ensp;</label>
        </div>
    </div>
    
    <!--  andata e ritorno -->
    <div class="col-sm-12 col-12 ">
        <h3>Modalità di compilazione calendario</h3>
        <hr style="border-color: black;">
    </div>
    <div class="col-sm-12 col-12 ">
	    	<div class="col-sm-12 col-12">
	    		<input ng-disabled="currentGame.deployed" type="checkbox" class="checkBoxStyle " ng-model="currentGame.roundTrip">
	    			Andata e ritorno</input>
	    	</div>    
    </div>

    <!-- checkbox for days of week -->
    <div class="col-sm-12 col-12 ">
        <h3>Giorni di gioco</h3>
        <hr style="border-color: black;">
    </div>
    <div class="col-sm-12 col-12 ">
        <div class="col-sm-12 col-12 " ng-repeat="d in currentGame.daysOfWeek track by $index">
            <!-- <div>
                <input ng-disabled="currentGame.deployed" type="checkbox" class="checkBoxStyle " value="{{d}}" ng-checked="{{d}}"
                    ng-click="toggleSelectionWeekDay($index)">{{weekDays[$index]}}
            </div> -->
             <div ng-if="$index < 5">
                <input type="checkbox" class="checkBoxStyle" value="{{d}}"  ng-checked="{{d}}" disabled>{{weekDays[$index]}}
            </div>
            <div ng-if="$index == 5">
                <input type="checkbox" class="checkBoxStyle" value="{{d}}" ng-checked="{{d}}" ng-click="toggleSelectionWeekDay($index)">{{weekDays[$index]}}
            </div>
            <div ng-if="$index == 6">
                <input type="checkbox" class="checkBoxStyle" value="{{d}}" ng-checked="{{d}}" disabled>{{weekDays[$index]}}
            </div>
        </div>
    </div>
</fieldset>