<div class="modal-header">
  <h3 class="modal-title">Abitudini suggerite per {{className}}</h3>
</div>

<div class="modal-body" ng-if="suggested">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>A piedi</th>
        <th>Bici</th>
        <th>Bus</th>
        <th>Pedibus</th>
        <th>P&amp;R</th>
        <th>Carpooling</th>
        <th>Auto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{suggested.walk | number:2}}</td>
        <td>{{suggested.bike | number:2}}</td>
        <td>{{suggested.bus | number:2}}</td>
        <td>{{suggested.pedibus | number:2}}</td>
        <td>{{suggested.pandr | number:2}}</td>
        <td>{{suggested.carpooling | number:2}}</td>
        <td>{{suggested.car | number:2}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" ng-click="close()">Chiudi</button>
</div>
