<fieldset class="row" ng-disabled="!PermissionsService.permissionEnabledParamInfo() || currentGame.deployed">

    <div class="col-lg-12">
        <h3>Abitudini di mobilità e distanze<i class="glyphicon glyphicon-info-sign information-circle"
                tooltip-placement="auto top" tooltip-append-to-body="true"
                uib-tooltip="Inserisci il numero di studenti che attualmente vanno a scuola a piedi, in bici, con il pedibus ecc. "></i>
        </h3>
        <hr style="border-color: black;">
    </div>
    <div ng-if="classesArePresent">
    <div class="row">
        <div class="col-lg-4 col-xs-4 col-4"><label style="font-style: italic; font-weight: normal">Numero studenti<i
                    class="glyphicon glyphicon-info-sign information-circle" tooltip-placement="auto top"
                    tooltip-append-to-body="true"
                    uib-tooltip="Ricordati di inserire tutti i giocatori prima di passare a questa sezione."></i></label>
        </div>
        <div class="col-lg-2 col-xs-2 col-2" style="margin-bottom: 20px;" ng-repeat="class in currentGame.classRooms">
            <label style="font-style: italic; font-weight: normal">{{class}}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-4 col-4">
            <p>&emsp;
                <b>A Piedi</b>
            </p>
        </div>
        <div class="col-lg-2 col-xs-2 col-2" style="margin-bottom: 20px;" ng-repeat="class in currentGame.classRooms">
            <input class="form-control" type="number" min="0" ng-change="changed()"
                ng-model="currentGame.mobilityParams[class].walk_studenti" ng-disabled="!isModalityPresent('walk')" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-4 col-4">
            <p>&emsp;
                <b>In bici</b>
            </p>
        </div>
        <div class="col-lg-2 col-xs-2 col-2" style="margin-bottom: 20px;" ng-repeat="class in currentGame.classRooms">
            <input class="form-control" type="number" min="0" ng-model="currentGame.mobilityParams[class].bike_studenti"
                ng-disabled="!isModalityPresent('bike')" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-4 col-4">
            <p>&emsp;
                <b>Scuolabus o trasporto pubblico</b>
            </p>
        </div>
        <div class="col-lg-2 col-xs-2 col-2" style="margin-bottom: 20px;" ng-repeat="class in currentGame.classRooms">
            <input class="form-control" type="number" min="0" ng-model="currentGame.mobilityParams[class].bus_studenti"
                ng-disabled="!isModalityPresent('bus')" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-4 col-4">
            <p>&emsp;
                <b>Pedibus</b>
            </p>
        </div>
        <div class="col-lg-2 col-xs-2 col-2" style="margin-bottom: 20px;"ng-repeat="class in currentGame.classRooms">
            <input class="form-control" type="number" min="0" ng-model="currentGame.mobilityParams[class].pedibus_studenti"
                ng-disabled="!isModalityPresent('pedibus')" />
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-4 col-4">
            <p>&emsp;
                <b>In auto fino alla piazzola di sosta</b>
            </p>
        </div>
        <div class="col-lg-2 col-xs-2 col-2" style="margin-bottom: 20px;" ng-repeat="class in currentGame.classRooms">
            <input class="form-control" type="number" min="0" ng-model="currentGame.mobilityParams[class].pandr_studenti"
                ng-disabled="!isModalityPresent('pandr')" />
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-4 col-4">
            <p>&emsp;
                <b>Car pooling</b>
            </p>
        </div>
        <div class="col-lg-2 col-xs-2 col-2" style="margin-bottom: 20px;" ng-repeat="class in currentGame.classRooms">
            <input class="form-control" type="number" min="0" ng-model="currentGame.mobilityParams[class].carpooling_studenti"
                ng-disabled="!isModalityPresent('carpooling')" />
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-4 col-4">
            <p>&emsp;
                <b>In auto fino a scuola</b>
            </p>
        </div>
        <div class="col-lg-2 col-xs-2 col-2" style="margin-bottom: 20px;" ng-repeat="class in currentGame.classRooms">
            <input class="form-control" type="number" min="0" ng-model="currentGame.mobilityParams[class].car_studenti"
                ng-disabled="!isModalityPresent('car')" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xs-4 col-4">
        </div>
        <div class="col-lg-4 col-xs-4 col-4">
            <p><b>Abitudini rilevate degli studenti:</b> {{calculateSS()}}/{{nrOfStudenti}}</p>
        </div>
        <!-- <div class="col-lg-4 col-xs-4 col-4">
                <p><b>Velocità stimata(KM/gg): {{calculateCDND()/1000}}</b>
                </p>
            </div> -->
    </div>
    </div>
    <div ng-if="!classesArePresent">
        <p><h3 class="text-center">Non sono presenti classi</h3></p>
    </div>
    <br />
</fieldset>