<div class="col-md-12">
    <div class="row">
        <div class="col-md-8 header-path-category">
            <h4 ng-if="isNewSchool()">CREA NUOVA SCUOLA</h4>
            <h4 ng-if="!isNewSchool()">MODIFICA SCUOLA: {{getSchoolName()}}</h4>
            <p>I campi contrassegnati col simbolo <span class="required-sign">*</span> sono obbligatori</p>
        </div>
    </div>
    
    <fieldset class= "row" ng-disabled="!PermissionsService.permissionEnabledEditSchool()">
    	<div class="col-md-12 import-panel">
    	
    		<div>Importazione dati scuola</div>
            <input type="file" id="upload-file" name="file" style="display:inline-block;"/>
            <label><input type="checkbox" ng-model="uploadFileOnlyChilds"/>Importa solo i bambini per il gioco</label>
    		<br/>
    		<input type="button" ng-click="uploadFile(uploadFileOnlyChilds)" value="Importa" />
        </div>
        <div class="import-errors-list col-md-12" ng-show="importErrors">
            Errori importazione: <a data-ng-click="resetImportError()" class="close" role="button">x</a>
            <table class="table table-striped header-fixed">
                <thead>
                    <tr>
                        <th class="foglio">Foglio</th>
                        <th class="riga">Riga</th>
                        <th class="errore">Errore</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="error in importErrors">
                        <td class="foglio">{{error.sheet}}</td>
                        <td class="riga">{{error.row}}</td>
                        <td class="errore">{{error.error}}</td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </fieldset>

    <div class="row">
        <!-- Menu tab -->
        <div class="col-md-2 tabs-menu">
            <a ng-class="{'active-tab':selectedTab == 'info'}" ng-click="goTo('root.school.info')"
            	ng-if="PermissionsService.permissionEnabledEditSchool()">DETTAGLI</a>
            <a ng-class="{'active-tab':selectedTab == 'lines-list'}" ng-click="goTo('root.school.lines-list')"
            	ng-if="PermissionsService.permissionEnabledEditSchool()">LINEE PEDIBUS</a>
            <a ng-class="{'active-tab':selectedTab == 'children-list'}" ng-click="goTo('root.school.children-list')"
            	ng-if="PermissionsService.permissionEnabledEditSchool()">SCOLARI PEDIBUS</a>
           <!--  <a ng-class="{'active-tab':selectedTab == 'players-list'}" ui-sref="root.school.players-list" 
            	ng-if="PermissionsService.permissionEnabledEditPlayer()">GIOCATORI</a> -->
            <a ng-class="{'active-tab':selectedTab == 'volunteer-list'}" ng-click="goTo('root.school.volunteer-list')"
            	ng-if="PermissionsService.permissionEnabledEditSchool()">VOLONTARI</a>
        </div>

        <!-- Tabs container -->
        <div class="col-md-10 tabs-container">
            <div ui-view></div>
        </div>
    </div>
</div>