<div ng-include="'templates/dataset-selection.html'"></div>

<div ng-if="$parent.selectedOwner && $parent.selectedInstitute && $parent.selectedSchool">
    <div class="col-lg-12 buttons-tab">
        <a href="#/game/{{selectedOwner}}/{{selectedInstitute.objectId}}/{{selectedSchool.objectId}}//info" class="btn btn-info">Crea nuovo</a>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <ul class="list-group list-categories">
            <li class="list-group-item" ng-repeat="game in games">
                <div class="row v-center">
                    <div class="col-md-2">
                        <img class="path-img" alt="Placeholder">
                    </div>
                    <div class="col-md-6">
                        <h5>{{game.gameName}}</h5>
                        <h5>Inizio: {{game.from | date : 'dd/MM/yyyy'}} - Fine: {{game.to | date : 'dd/MM/yyyy'}}</h5>
                    </div>
                    <div class="col-md-4 right">
                        <a class="btn btn-info" ng-click="initGameOnServer(game)">INIT</a>
                        <a href="#/game/{{selectedOwner}}/{{selectedInstitute.objectId}}/{{selectedSchool.objectId}}/{{game.objectId}}/{{gamesConfigs[game.objectId].pedibusGameConfId}}/gameconfig"  class="btn btn-icon" ng-class="gamesConfigs[game.objectId] == null || gamesConfigs[game.objectId].pedibusGameConfId == null ? 'btn-primary' : 'btn-success'" role="button" ng-disabled="gamesConfigs[game.objectId].active"><i class="fa fa-gamepad" aria-hidden="true"></i></a>
                        <a href="#/game/{{selectedOwner}}/{{selectedInstitute.objectId}}/{{selectedSchool.objectId}}/{{game.objectId}}/info" class="btn btn-icon btn-primary" role="button" ng-click="$parent.$parent.$parent.gamesModified = true"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a ng-click="delete(game)" class="btn btn-icon btn-danger" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>