<div class="col-md-12">
    <div class="row">
        <div class="col-md-8 header-path-category">
            <h4>{{(currentGame && currentGame.gameName) ? 'MODIFICA GIOCO: ' + currentGame.gameName : 'CREA NUOVO GIOCO'}}            <i class="glyphicon glyphicon-info-sign information-circle" tooltip-placement="auto top" tooltip-append-to-body="true" 
                uib-tooltip="In questa sezione puoi inserire le informazioni per creare un nuovo gioco o modificarlo."></i>
    </h4>
            <p>I campi contrassegnati col simbolo <span class="required-sign">*</span> sono obbligatori</p>
            <mark ng-show="currentGame.deployed">Attenzione! Questo gioco è attualmente in esecuzione</mark>
        </div>

        <div class="col-md-4 right">
            <a ng-click="save()" class="btn btn-save btn-margin" role="button">Salva</a>
            <a ng-click="back()" class="btn btn-danger" role="button">Annulla</a>
        </div>
    </div>

    <div class="row">
        <!-- Menu tab -->
        <div class="col-md-2 tabs-menu">
            <a ng-class="{'active-tab':selectedTab == 'info'}" ng-if="PermissionsService.permissionEnabledInfoGame()" ui-sref="root.game.info">INFO</a>
            <a ng-class="{'active-tab':selectedTab == 'gamers'}" ng-if="PermissionsService.permissionEnabledShowPlayer()" ui-sref="root.game.gamers">GIOCATORI</a>
            <a ng-class="{'active-tab':selectedTab == 'params'}" ng-if="PermissionsService.permissionEnabledParamInfo()" ui-sref="root.game.params">ABITUDINI</a>
            <a ng-class="{'active-tab':selectedTab == 'calibration'}" ng-if="PermissionsService.permissionEnabledCalibrationInfo()" ui-sref="root.game.calibration">CALIBRAZIONE</a>
            <a ng-class="{'active-tab':selectedTab == 'pedibus'}" ng-if="PermissionsService.permissionEnabledPedibusInfo()"  ui-sref="root.game.pedibus">PEDIBUS</a>
        </div>

        <!-- Tabs container -->
        <div class="col-md-10 tabs-container">
            <div ui-view></div>
        </div>
    </div>
</div>
