<md-nav-bar md-selected-nav-item="currentUsersListTab">
  <md-nav-item md-nav-sref="home.users-lists.list({role:'all'})" name="all-list-tab">All</md-nav-item>
  <md-nav-item md-nav-sref="home.users-lists.list({role:'owner'})" name="owner-list-tab">Owner</md-nav-item>
  <md-nav-item md-nav-sref="home.users-lists.list({role:'parent'})" name="parent-list-tab">Parent</md-nav-item>
  <md-nav-item md-nav-sref="home.users-lists.list({role:'teacher'})" name="teacher-list-tab">Teacher</md-nav-item>
  <md-nav-item md-nav-sref="home.users-lists.list({role:'volunteer'})" name="volunteer-list-tab">Volunteer</md-nav-item>
  <md-nav-item md-nav-sref="home.users-lists.list({role:'norole'})" name="norole-list-tab">No role</md-nav-item>
</md-nav-bar>
<ui-view name="user-list" style="height: 100%;"></ui-view>
<md-fab-speed-dial md-direction="up" class="md-fab-bottom-right">
  <md-fab-trigger>
    <md-button aria-label="Add" class="md-fab md-warn" ng-click="newUser()">
      <md-icon>add</md-icon>
    </md-button>
  </md-fab-trigger>
</md-fab-speed-dial>