<md-content layout-padding>
    <h3>{{user.name}} {{user.surname}}</h3>
    <h4>{{user.email}}</h4>
    <form name="role_edit" ng-disabled="saving">
        <md-input-container class="md-block">
            Roles:
            <md-radio-group ng-model="user.roles" layout="row">            
                <md-radio-button value='owner'>Owner</md-radio-button>
                <md-radio-button value='parent'>Parent</md-radio-button>
                <md-radio-button value='teacher'>Teacher</md-radio-button>
                <md-radio-button value='volunteer'>Volunteer</md-radio-button>            
            </md-radio-group>
        </md-input-container>
    
        <md-input-container class="md-block" ng-show="user.roles == 'teacher' || user.roles == 'volunteer'">
            <label>Institute Id</label>
            <md-icon>domain</md-icon>
            <input ng-model="user.instituteId" type="text" ng-required="user.roles == 'teacher' || user.roles == 'volunteer'">
        </md-input-container>
    
        <md-input-container class="md-block" ng-show="user.roles == 'teacher' || user.roles == 'volunteer'">
            <label>School Id</label>
            <md-icon>school</md-icon>
            <input ng-model="user.schoolId" type="text" ng-required="user.roles == 'teacher' || user.roles == 'volunteer'">
        </md-input-container>
    
    
        <md-input-container class="md-block" ng-show="user.roles == 'parent' || user.roles == 'teacher'">
            <label>Game Id</label>
            <md-icon>videogame_asset</md-icon>
            <input ng-model="user.gameId" type="text" ng-required="user.roles == 'parent' || user.roles == 'teacher'">
        </md-input-container>
    </form>
    <div layout="row" layout-sm="column" layout-align="space-around" ng-show="saving">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</md-content>