<!-- <div>
	<div class="modal-body container-dialog">
        <form novalidate style="text-align:center;margin-bottom:8px;">    
            <div class="row">
	            <input type="text" ng-model="$parent.searchtext" ng-change="resetResults()" />
	            <select ng-model="$parent.searchtype">
	                <option value="all">Tutti</option>
	                <option value="image">Immagini</option>
	                <option value="video">Video</option>
	                <option value="link">Link</option>
	                <option value="file">File</option>
	            </select>
	            <label><input type="checkbox" ng-model="$parent.searchlocalschool"/> Solo da questa scuola</label>
            </div>
            <div class="row">
	            <label>Ricerca nel raggio di </label>
	            <input type="number" min="0" max="999" placeholder="inserisci i Km" ng-model="$parent.searchdistance" />
	            <label> kilometri dalla tappa</label>                
	            <input type="submit" ng-click="searchOnContentRepository()" value="Cerca" class="btn btn-primary btn-sm" />
            </div>
        </form>
        <div class="row"style="overflow: auto;height: 350px;" id="contentList">
            <ul class="list-group">
                <li class="list-group-item col-md-12 v-center" dir-paginate="content in contentResults | itemsPerPage:10">
                    <input type="checkbox" ng-model="content.selectedToAdd" class="col-md-1 multimedia-add-checkbox" ng-change="updateTotalCounter(content.selectedToAdd)">
                    <div class="col-md-11">
                        <a href="{{content.link}}" target="_blank" ng-class='content.type == "video" && content.isYoutubeVideo ? "multimedia-yt-video" : ""' style="float:left;margin-right: 8px;margin-bottom: 8px;">
                            <img class="search-multimedia-image" ng-src="{{content.referenceImg}}">
                        </a>
                        <div>
                            <a href="{{content.link}}" target="_blank">
                                <h4>{{content.info[0].name}}</h4>
                            </a>
                            <p>{{content.info[0].legName}}</p>
                        </div>
                    </div>
                </li>                
            </ul>
            <div ng-show="noResults" style="text-align: center;">
                Nessun risultato corrisponde alla tua ricerca.
            </div>
            <div style="width:100%;text-align:center;">
                <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    boundary-links="true"
                    on-page-change="changePage(newPageNumber, oldPageNumber)" >
                </dir-pagination-controls>
            </div>
        </div>
	</div>
</div> -->

<div>
    <div class="modal-body container-dialog">
        <div id="error" class="alert alert-danger fade in" data-ng-show="errorMsg">
            <a class="close" data-hide="alert" aria-label="close"
            data-ng-click="resetError()">&times;</a>
            {{errorMsg}}
        </div>
        <!-- ***before search***  -->
        <div class="row" ng-if="!contentResults">
            <p class="tab cBlue-text">Ricerca del materiale multimediale utilizzato in precedenza in altri percorsi.</p>
            <p class="tab">Inserisci uno o piu paprametri e avvia la ricerca. </p>
        </div>
        <div class="row" ng-if="!contentResults">
            <table class="table tableSearchEngines" >
                <tbody>
                    <tr class="info" >
                        <td style="border-radius: 5px 0 0 0;">
                            <input class="form-control" type="text" placeholder="Cerca"  ng-model="$parent.searchtext" ng-change="resetResults()" />
                        </td>
                        <td colspan="2" style="border-radius: 0 5px 0 0;">Inserisci uno o piu <p class="cBlue-text tab"><b>parole chiave</b></p></td>
                    </tr>
                    <tr class="info">
                        <td>
                            <div class="wrapper dropdownSearchEngines">
                                <div class="selected-items-box" ng-click="subjectsListToggle('searchtypeID','before')">Tutti</div>
                                <div class="list" id="searchtypeID">
                                    <ul class="items-list">
                                        <li ng-repeat="st in searchtype">
                                            <input type="checkbox" class='' ng-model="st.selected" />
                                            <span>{{st.searchtype}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td colspan="2">Seleziona una o piu<p class="cBlue-text tab"><b>tipologia</b></p> del materiale</td>
                    </tr>
                    <tr class="info">
                        <td>
                            <div class="wrapper dropdownSearchEngines">
                                <div class="selected-items-box" ng-click="subjectsListToggle('subjectID','before')">Tutti</div>
                                <div class="list" id="subjectID">
                                    <ul class="items-list">
                                        <li ng-repeat="s in subjects">
                                            <input type="checkbox" class='' ng-model="s.selected" />
                                            <span>{{s.subject}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td colspan="2">Seleziona una o piu<p class="cBlue-text tab"><b>discipiline</b></p> </td>
                    </tr>
                    <tr class="info">
                        <td>
                            <div class="wrapper dropdownSearchEngines">
                                <div class="selected-items-box" ng-click="schoolYearsListToggle('schoolYearID','before')">Tutti</div>
                                <div class="list" id="schoolYearID">
                                    <ul class="items-list">
                                        <li ng-repeat="sy in schoolYears">
                                            <input type="checkbox" class='' ng-model="sy.selected" />
                                            <span>{{sy.schoolYear}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td colspan="2">Seleziona il target di eta (una o piu <p class="cBlue-text tab"><b>classi</b></p>) </td>
                    </tr>
                    <tr class="info">
                        <td colspan="3">
                            <p>Ricerca nel <span class="cBlue-text tab">raggio</span> di <input class="form-control searchdistance" type="number" min="0" max="999" placeholder="Km" ng-model="$parent.searchdistance"/> chilometri dalla tappa corrente</p>
                        </td>
                    </tr>
                    <tr class="info">
                        <td style="border-radius: 0 0 0 5px;"></td>
                        <td>
                            <form>
                                <input type="submit" ng-click="searchOnContentRepository($parent.searchtext,$parent.searchtype,$parent.searchdistance)" value="Cerca" class="btn btn-primary btn-sm" />
                            </form>
                        </td>
                        <td style="border-radius: 0 0 5px 0;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- ***after search result*** -->
        <!-- table for search again -->
        <div ng-if="contentResults">
            <div class="row" >
                <div class="col-md-2">
                    <div class="row" ><input class="form-control" type="text" ng-model="$parent.searchtext"  placeholder="Cerca" /></div>
                    <div class="row" ><p class="belowTextSearchEngines">parole chiave</p></div>
                </div>
                <div class="col-md-2">
                    <div class="row" >
                        <div class="wrapper dropdownSearchEngines">
                            <div class="selected-items-box" ng-click="subjectsListToggle('searchtypeID','before')">Tutti</div>
                            <div class="list" id="searchtypeID">
                                <ul class="items-list">
                                    <li ng-repeat="st in searchtype">
                                        <input type="checkbox" class='' ng-model="st.selected" />
                                        <span>{{st.searchtype}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" ><p class="belowTextSearchEngines">tipologia</p></div>
                </div>
                <div class="col-md-2">
                    <div class="row" >
                        <div class="wrapper dropdownSearchEngines">
                            <div class="selected-items-box" ng-click="subjectsListToggle('subjectID','before')">Tutti</div>
                            <div class="list" id="subjectID">
                                <ul class="items-list">
                                    <li ng-repeat="s in subjects">
                                        <input type="checkbox" class='' ng-model="s.selected" />
                                        <span>{{s.subject}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" ><p class="belowTextSearchEngines">materia</p></div>
                </div>
                <div class="col-md-2">
                    <div class="row" >
                        <div class="wrapper dropdownSearchEngines">
                            <div class="selected-items-box" ng-click="schoolYearsListToggle('schoolYearID','before')">Tutti</div>
                            <div class="list" id="schoolYearID">
                                <ul class="items-list">
                                    <li ng-repeat="sy in schoolYears">
                                        <input type="checkbox" class='' ng-model="sy.selected" />
                                        <span>{{sy.schoolYear}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" ><p class="belowTextSearchEngines">classe</p></div>
                </div>
                <div class="col-md-2">
                    <div class="row" >
                        <input class="form-control" type="number" min="0" max="999" placeholder="Km" ng-model="$parent.searchdistance"/>
                    </div>
                    <div class="row" ><p class="belowTextSearchEngines">km</p></div>
                </div>
                <div class="col-md-2">
                    <div class="row" >
                        <input type="submit" ng-click="searchOnContentRepository($parent.searchtext,$parent.searchtype,$parent.searchdistance)" value="Cerca" class="btn btn-primary" />
                    </div>
                    <div class="row" ><p class="belowTextSearchEngines">cambia la ricerca</p></div>
                </div>
            </div>
        </div>
        <!-- data show -->
        <div class="row" style="overflow: auto;height: 350px;" id="contentList" ng-if="contentResults">
            <ul class="list-group">
                <li class="list-group-item col-md-12 v-center" dir-paginate="content in contentResults | itemsPerPage:10">
                    <input type="checkbox" ng-model="content.selectedToAdd" class="col-md-1 multimedia-add-checkbox" ng-change="updateTotalCounter(content.selectedToAdd)">
                    <!-- image in row -->
                    <div class="col-md-3">
                        <a ng-href="{{content.referenceContent.link}}" target="_blank" ng-if="content.referenceContent.previewUrl">
                            <img ng-src="{{content.referenceContent.previewUrl}}" class="imageSizeRow">
                        </a>
                        <a ng-href="{{content.referenceContent.link}}" target="_blank" ng-if="!content.referenceContent.previewUrl">
                            <div class="defaultImage" ng-if="!content.referenceContent.previewUrl"></div>
                        </a>
                    </div>
                    <!-- no selected rows from contentResults -->
                    <div class="col-md-8 contentRowPadding" ng-if="!content.selectedToAdd">
                        <div class="contentSearchResultContainer">
                            <div class="row">
                                <div class="col-sm-12 contentRowPadding">
                                    <a href="{{content.referenceContent.link}}" target="_blank">
                                        <h5>{{content.referenceContent.name}}</h5>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 contentRowPadding">
                                    <span class="notSelectedText">Tipologia: </span>
                                </div>
                                <div class="col-sm-8 contentRowPadding">
                                    <span >{{content.referenceContent.type}}</span>
                                </div>                                 
                            </div>
                            <div class="row">
                                <div class="col-sm-4 contentRowPadding">
                                    <span class="notSelectedText">Materia: </span>
                                </div>
                                <div class="col-sm-8 contentRowPadding">
                                    <span ng-repeat="s in content.referenceContent.subjects">{{s.subject}}, </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 contentRowPadding">
                                    <span class="notSelectedText">Classe: </span>
                                </div>
                                <div class="col-sm-8 contentRowPadding">
                                    <span ng-repeat="sy in content.referenceContent.schoolYears">{{sy.schoolYear}}, </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 contentRowPadding">
                                    <span class="notSelectedText">Citazione: </span>
                                </div>
                                <div class="col-sm-8 contentRowPadding">
                                    <span> {{content.contents.length}}</span>
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <!-- selected rows from contentResults -->
                    <div class="col-md-8 contentRowPadding" ng-if="content.selectedToAdd">
                        <a href="{{content.referenceContent.link}}" target="_blank">
                            <h5>{{content.referenceContent.name}}</h5>
                        </a>
                        <div class="searchResultSelectedRow">
                            <div class="container searchResultSelectedContainer"  >
                                <div class="row">
                                    <div class="col-sm-12 selectedRowCol">
                                        <p class="tab selectedText"> <b> La Classi</b> che potranno vedere il materiale dalle Console de Gioco.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 selectedRowCol">
                                        <label class="checkbox-inline" ng-repeat="c in content.referenceContent.classes">
                                            {{c.class}}<input type="checkbox" class="cbStyleSearch" ng-model="c.selected">
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 selectedRowCol">
                                        <p class="tab selectedText"> <b> Elicchetta il materiale </b></p>
                                    </div>
                                    <div class="col-sm-4 selectedRowCol">
                                        <div class="wrapper dropdownSelectedClass">
                                            <div class="selected-items-box" ng-click="subjectsListToggle($index,'after')">Materia</div>
                                            <div class="list" id="subject{{$index}}">
                                                <ul class="items-list">
                                                    <li ng-repeat="s in content.referenceContent.subjects">
                                                        <input type="checkbox" class='' ng-model="s.selected" />
                                                        <span>{{s.subject}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 selectedRowCol">
                                        <div class="wrapper dropdownSelectedClass">
                                            <div class="selected-items-box" ng-click="schoolYearsListToggle($index,'after')">Classe</div>
                                            <div class="list" id="schoolYear{{$index}}">
                                                <ul class="items-list">
                                                    <li ng-repeat="sy in content.referenceContent.schoolYears">
                                                        <input type="checkbox" class='' ng-model="sy.selected" />
                                                        <span>{{sy.schoolYear}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </li>                
            </ul>
            <div ng-show="noResults" style="text-align: center;">
                Nessun risultato corrisponde alla tua ricerca.
            </div>
            <div style="width:100%;text-align:center;">
                <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    boundary-links="true"
                    on-page-change="changePage(newPageNumber, oldPageNumber)" >
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>