<!-- <div>
    <div class="modal-body">
    		
        <div id="error" class="alert alert-danger fade in" data-ng-show="errorMsg">
            <a class="close" data-hide="alert" aria-label="close"
            data-ng-click="resetError()">&times;</a>
            {{errorMsg}}
        </div>
        
        <div class="add-media field">
            <p><b>Titolo:</b></p>
            <input class="form-control" type="text" ng-model="newMedia.name" />
        </div>
        <div class="add-media field">
            <p><b>Tipologia:</b></p>
            <select class="form-control" ng-model="newMedia.type">
                <option value="image">Immagine</option>
                <option value="video">Video</option>
                <option value="link">Collegamento a pagina web</option>
                <option value="file">File</option>
            </select>
        </div>
        <div class="add-media field">
            <p><b>URL:</b> <span class="required-sign">*</span></p>
            <input type="url" class="form-control" ng-model="newMedia.link" required/>
        </div>
        <div class="wrapper">
            <p>
                <b>Tags:</b>
                <b ng-repeat="tag in tags | filter: getSelectedtags" >
                    {{tag.name}}
                </b>
            </p>
            <div class="selected-items-box" ng-click="tagListToggle()">
                --- Select tags ---
                <span class="dropdown-icon"></span>
            </div>
            <div class="list">
                <ul class="items-list">
                  <li ng-repeat="tag in tags">
                    <input type="checkbox" class='' ng-model="tag.selected" />
                    <span>{{tag.name}}</span>
                  </li>
                </ul>
            </div>
        </div>

        <div ng-show="(newMedia.type == 'image') || (newMedia.type == 'file')">
            <div class="field add-media">
                <p>oppure scegli e carica un file. I file saranno ad accesso pubblico; devono essere privi di copyright e rispettare...:<p> 
                <p>{{file.filename ? file.filename : 'Nessun file selezionato'}}</p>
                <span ng-disabled="loading" class="btn btn-info btn-file btn-margin">
                Scegli file <input type="file" id="upload-content-file" base-sixty-four-input ng-model="file" />
                </span>
                <button ng-disabled="!file" ng-click="uploadFile()" class="btn btn-info">
                	<span ng-show="loading"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                	Carica
                </button>
                <p></p>
            </div>
        </div>
    </div>
</div> -->
<div class="container container-dialog"> 
    <div id="error" class="alert alert-danger fade in" data-ng-show="errorMsg">
        <a class="close" data-hide="alert" aria-label="close"
        data-ng-click="resetError()">&times;</a>
        {{errorMsg}}
    </div>          
    <table class="table table-striped ">
      <tbody>
        <tr class="info">
          <td>
            <div>
                <p><span class="required-sign">*</span><span class="tab"></span> 1. Iserisci il titolo del materiale</p>
            </div>
          </td>
          <td>
            <input class="form-control" type="text" ng-model="newMedia.name" placeholder="Titolo" required/>
          </td>
        </tr>
        <tr class="info">
          <td>
            <div>
                <p><span class="required-sign">*</span><span class="tab"></span> 2. Seleziona la tipologia del materiale</p>
            </div>
          </td>
          <td>
            <div>
                <select class="form-control" ng-model="newMedia.type">
                    <option value="" selected disabled style="display: none;">Tipologia</option>
                    <option value="image">Immagine</option>
                    <option value="video">Video</option>
                    <option value="link">Collegamento a pagina web</option>
                    <option value="file">File</option>
                </select>
            </div>
          </td>
        </tr>
        <tr class="info">
            <td colspan="2" class="round-td">
                <table class="tableFullWith">
                    <tbody >
                        <tr class="info">
                            <td colspan="2">
                                <div>
                                    <p><span class="required-sign">*</span> <span class="tab"></span> 3.a) Inserisci I'indirizzo web (URL)</p>
                                </div>
                            </td>
                            <td >
                                <input type="url" class="form-control" ng-model="newMedia.link" placeholder="URL" required/>
                            </td>
                        </tr>
                        <tr ng-show="(newMedia.type == 'image') || (newMedia.type == 'file')"> <td colspan="3"><hr class="cBlue"></td> </tr>
                        <tr ng-show="(newMedia.type == 'image') || (newMedia.type == 'file')">
                            <td>
                                <p class="tab">  <span class="tab"></span> 3.b) Seleziona un file dal computer</p>
                            </td>
                            <td colspan="2">
                                <div ng-show="(newMedia.type == 'image') || (newMedia.type == 'file')">
                                    <div >
                                        <p>{{file.filename ? file.filename : 'Nessun file selezionato'}}</p>
                                        <span ng-disabled="loading" class="btn btn-info btn-file btn-margin">
                                            Scegli<input type="file" id="upload-content-file" base-sixty-four-input ng-model="file" />
                                        </span>
                                        <button ng-disabled="!file" ng-click="uploadFile()" class="btn btn-info">
                                            <span ng-show="loading"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                            Carica
                                        </button>
                                        <p></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="(newMedia.type == 'image') || (newMedia.type == 'file')">
                            <td colspan="3"><p class="cBlue-text tab"> <b>Attenzione!</b> I file devono essere privi de copyright e rispattare la legge sul trattamento dei dati personali.</p></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class="info">
            <td colspan="2" class="round-td">
                <p class="tab"> 4. <b> La Classi</b> che potranno vedere il materiale dalle Console de Gioco.</p>
                 
                <div class="tab"> 
                    <label class="checkbox-inline" ng-repeat="c in classes">
                        {{c.class}}<input type="checkbox" class="cbStyle" ng-model="c.selected">
                    </label>
                    <!-- <label class="checkbox-inline">
                        <input type="checkbox" class="checkBoxStyle" value=""> 2
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkBoxStyle" value=""> 3
                    </label> -->
                </div>
            </td>
        </tr>
        <tr class="info">
            <td colspan="2" class="round-td">
                <p class="tab">
                    5. Visibile con il <b> link pubblico del gioco</b>
                    <select class="form-control dropdownPublicLink" 
                        ng-model="publicLink"
                        ng-options="o.v as o.n for o in [{ n: 'Si', v: true }, { n: 'No', v: false }]"
                        ng-change="changePublicLink(publicLink)">
                    </select>
                </p>
                <div>
                    <p class="tab">  Il materiale sara ad accesso pubblico. Chiunque in possesso del link pubblico del gioco lo potra vedere.</p>
                </div>
            </td>
        </tr>
        <tr class="info">
            <td colspan="2" class="round-td">
                <p class="tab">
                    6. <b> Condividi </b> il materiale. Permetterai di trovalo con la funzione "Cerca gia utilizzati."
                    <!-- <select class="form-control dropdownCondiviso"  ng-model="sharable">
                        <option value="si" >Condiviso</option>
                        <option value="no">No</option>
                    </select> -->
                    <select class="form-control dropdownCondiviso" 
                        ng-model="sharable"
                        ng-options="o.v as o.n for o in [{ n: 'Condiviso', v: true }, { n: 'No', v: false }]"
                        ng-change="changeSharable(sharable)">
                    </select>
                </p>
            </td>
        </tr>
        <tr class="info">
            <td colspan="2" class="round-td">
                <p class="tab"> 7. <b> Elicchetta </b> il materiale. Aiuterai a trovalo con la funzione "Cerca gia utilizzati."</p>
                <br>
                <div class="tab"> 
                    <span ><u>Materia:</u></span> 
                    <span class="tab"></span> 
                    <label class="checkbox-inline" ng-repeat="s in subjects">
                        {{s.subject}}<input type="checkbox" class="cbStyle" ng-model="s.selected">
                    </label>
                    <!-- <label class="checkbox-inline">
                        <input type="checkbox" class="checkBoxStyle" value=""> 1
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkBoxStyle" value=""> 2
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkBoxStyle" value=""> 3
                    </label> -->
                </div>
                <br>
                <div class="tab"> 
                    <span ><u>Classi:</u></span> 
                    <span class="tab"></span> 
                    <label class="checkbox-inline" ng-repeat="sy in schoolYears">
                        {{sy.schoolYear}}<input type="checkbox" class="cbStyle" ng-model="sy.selected">
                    </label>
                    <!-- <label class="checkbox-inline">
                        <input type="checkbox" class="checkBoxStyle" value=""> 1
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkBoxStyle" value=""> 2
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" class="checkBoxStyle" value=""> 3
                    </label> -->
                </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>