<div>
	<div class="container-dialog">
        <div id="error" class="alert alert-danger fade in" data-ng-show="errorMsg">
            <a class="close" data-hide="alert" aria-label="close"
            data-ng-click="resetError()">&times;</a>
            {{errorMsg}}
        </div>
        <div class="spinner" ng-show="loading"><div class="loader" ></div></div>
        <div class="row" ng-if="!imageResults && !ytResults && !wikiResults">
            <p class="tab cBlue-text">Ricerca del materiale multimediale sul motore di ricerca senza uscire dalla console.</p>
        </div>
		<div class="row">
            <!-- before search -->
            <table class="table tableSearchEngines" ng-if="!imageResults && !ytResults && !wikiResults" >
                <tbody>
                    <tr class="info" >
                        <td style="border-radius: 5px 0 0 0;">
                            <input class="form-control" type="text" placeholder="Cerca"  ng-model="$parent.searchtext" ng-change="resetResults()" />
                        </td>
                        <td colspan="2" style="border-radius: 0 5px 0 0;">Inserisci uno o piu <p class="cBlue-text tab"><b>parole chiave</b></p></td>
                    </tr>
                    <tr class="info">
                        <td>
                            <select class="form-control" ng-model="$parent.searchtype" >
                                <option value="image">Immagini</option>
                                <option value="video">Video Youtube</option>
                                <option value="wikipedia">Wikipedia</option>
                            </select>
                        </td>
                        <td colspan="2">Seleziona <p class="cBlue-text tab"><b>la tipologia</b></p> del materiale</td>
                    </tr>
                    <tr class="info">
                        <td style="border-radius: 0 0 0 5px;"></td>
                        <td>
                            <form>
                                <input type="submit" ng-click="searchOnEngine($parent.searchtext,$parent.searchtype)" value="Cerca" class="btn btn-primary btn-sm" />
                            </form>
                        </td>
                        <td style="border-radius: 0 0 5px 0;"></td>
                    </tr>
                </tbody>
            </table>
            <!-- after search -->
            <table class="table tableSearchEngines" ng-if="imageResults || ytResults || wikiResults">
                <tbody>
                    <tr class="info" >
                        <td style="border-radius: 5px 0 0 5px;">
                            <input class="form-control" type="text" ng-model="$parent.searchtext"  placeholder="Cerca" />
                            <p class="belowTextSearchEngines">parole chiave</p>
                        </td>
                        <td>
                            <select class="form-control" ng-model="$parent.searchtype" >
                                <option value="image">Immagini</option>
                                <option value="video">Video Youtube</option>
                                <option value="wikipedia">Wikipedia</option>
                            </select>
                            <p class="belowTextSearchEngines">tipologia</p>
                        </td>
                        <td style="border-radius: 0 5px 5px 0; text-align: center;">
                            <input type="submit" ng-click="searchOnEngine($parent.searchtext,$parent.searchtype)" value="Cerca" class="btn btn-primary" />
                            <p class="belowTextSearchEngines">cambia la ricerca</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- search type image -->
        <div class="row" id="imageContentList" ng-if="$parent.searchtype == 'image'">
            <ul class="list-group">
                <li class="list-group-item col-md-12 v-center" ng-repeat="image in imageResults track by $index">
                    <input type="checkbox" ng-model="image.selectedToAdd" class="col-md-1 multimedia-add-checkbox" ng-change="updateTotalCounter(image.selectedToAdd, $index)">
                    <a ng-href="{{image.link}}" target="_blank" class="col-md-3" style="max-width: 98%; max-height: 98%;">
                        <img ng-src="{{image.image.thumbnailLink}}" style="max-width: 98%; max-height: 98%;">
                        <!-- <div class="multimedia-size-label">{{image.image.width}}x{{image.image.height}}</div> -->
                    </a>
                    <!-- no selected rows from imageResults -->
                    <div class="col-md-8" ng-if="!image.selectedToAdd">
                        <a ng-href="{{image.link}}" target="_blank">
                            <u><h5>{{image.title}}</h5></u>
                        </a>
                        <p class="notSelectedText">Sito di riferimento: <u><a ng-href="{{image.image.contextLink}}">{{image.displayLink}}/...</a></u> <p>
                        <p class="notSelectedText">Dimensione: <u><a ng-href="{{image.image.contextLink}}">{{image.image.width}}x{{image.image.height}}</a></u> <p>
                    </div>
                    <!-- if user selected rows from imageResults -->
                    <div class="col-md-8" ng-if="image.selectedToAdd">
                        <a ng-href="{{image.link}}" target="_blank">
                            <h5>{{image.title}}</h5>
                        </a>
                        <div class="searchResultSelectedRow">
                            <div class="container searchResultSelectedContainer"  >
                                <div class="row">
                                    <div class="col-sm-12 selectedRowCol">
                                        <p class="tab selectedText"> <b> La Classi</b> che potranno vedere il materiale dalle Console de Gioco.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 selectedRowCol">
                                        <label class="checkbox-inline" ng-repeat="c in image.classes">
                                            {{c.class}}<input type="checkbox" class="cbStyleSearch" ng-model="c.selected">
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 selectedRowCol">
                                        <p class="tab selectedText"> <b> Etichetta il materiale </b></p>
                                    </div>
                                    <div class="col-sm-4 selectedRowCol">
                                        <div class="wrapper dropdownSelectedClass">
                                            <div class="selected-items-box" ng-click="materialeListToggle($index)">Discipline <span class="downArrow"></span></div>
                                            <div class="list" id="materiale{{$index}}">
                                                <ul class="items-list">
                                                    <li ng-repeat="s in image.subjects">
                                                        <input type="checkbox" class='' ng-model="s.selected" />
                                                        <span>{{s.subject}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 selectedRowCol">
                                        <div class="wrapper dropdownSelectedClass">
                                            <div class="selected-items-box" ng-click="classListToggle($index)">Classi <span class="downArrow"></span></div>
                                            <div class="list" id="classe{{$index}}">
                                                <ul class="items-list">
                                                    <li ng-repeat="sy in image.schoolYears">
                                                        <input type="checkbox" class='' ng-model="sy.selected" />
                                                        <span>{{sy.schoolYear}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </li>                
            </ul>
        </div>
        <!-- search type video -->
        <div class="row" id="videoContentList" ng-if="$parent.searchtype == 'video'">
            <ul class="list-group">
                <li class="list-group-item col-md-12 v-center" ng-repeat="video in ytResults track by $index">
                    <input type="checkbox" ng-model="video.selectedToAdd" class="col-md-1 multimedia-add-checkbox" ng-change="updateTotalCounter(video.selectedToAdd, $index)">
                    <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank" class="col-md-3 contentRowPadding multimedia-yt-video" style="max-width: 98%; max-height: 98%;">
                        <img ng-src="{{video.snippet.thumbnails.default.url}}" style="max-width: 98%; max-height: 98%;">
                    </a>
                    
                    <div class="col-md-8 contentRowPadding" >
                        <a href="https://www.youtube.com/watch?v={{video.id.videoId}}" target="_blank">
                            <h4>{{video.snippet.title}}</h4>
                        </a>
                        <!-- no selected rows from ytResults -->
                        <div ng-if="!video.selectedToAdd">
                            <p class="notSelectedText">Descrizione: {{video.snippet.description}}<p>
                        </div>
                        <!-- if user selected rows from imageResults -->
                        <div ng-if="video.selectedToAdd">
                            <div class="searchResultSelectedRow">
                                <div class="container searchResultSelectedContainer"  >
                                    <div class="row">
                                        <div class="col-sm-12 selectedRowCol">
                                            <p class="tab selectedText"> <b> La Classi</b> che potranno vedere il materiale dalle Console de Gioco.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 selectedRowCol">
                                            <label class="checkbox-inline" ng-repeat="c in video.classes">
                                                {{c.class}}<input type="checkbox" class="cbStyleSearch" ng-model="c.selected">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 selectedRowCol">
                                            <p class="tab selectedText"> <b> Eticchetta il materiale </b></p>
                                        </div>
                                        <div class="col-sm-4 selectedRowCol">
                                            <div class="wrapper dropdownSelectedClass">
                                                <div class="selected-items-box" ng-click="materialeListToggle($index)">Materiale <span class="downArrow"></span></div>
                                                <div class="list" id="materiale{{$index}}">
                                                    <ul class="items-list">
                                                        <li ng-repeat="s in video.subjects">
                                                            <input type="checkbox" class='' ng-model="s.selected" />
                                                            <span>{{s.subject}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 selectedRowCol">
                                            <div class="wrapper dropdownSelectedClass">
                                                <div class="selected-items-box" ng-click="classListToggle($index)">Classe <span class="downArrow"></span></div>
                                                <div class="list" id="classe{{$index}}">
                                                    <ul class="items-list">
                                                        <li ng-repeat="sy in video.schoolYears">
                                                            <input type="checkbox" class='' ng-model="sy.selected" />
                                                            <span>{{sy.schoolYear}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </li>                
            </ul>
        </div>
        <!-- search type wikipedia -->
        <div class="row" id="wikiContentList" ng-if="$parent.searchtype == 'wikipedia'">
            <ul class="list-group">
                <li class="list-group-item col-md-12 v-center" ng-repeat="(key,result) in wikiResults track by $index">
                    <input type="checkbox" ng-model="result.selectedToAdd" class="col-md-1 multimedia-add-checkbox" ng-change="updateTotalCounter(result.selectedToAdd, key)">
                    <a ng-href="{{result.link}}" target="_blank" class="col-md-3 contentRowPadding">
                        <!-- <div class="defaultImage" ></div> -->
                        <img ng-src="img/link.png" style="max-width: 98%; max-height: 98%;">
                    </a>
                    <div class="col-md-8 contentRowPadding">
                        <h5><a href="{{result.link}}" target="_blank">{{result.title}}</a></h5>
                        <!-- no selected rows from wikiResults -->
                        <div ng-if="!result.selectedToAdd">
                            <p class="notSelectedText">Descrizione: {{result.extract}}<p>
                        </div>
                        <!-- if user selected rows from wikiResults -->
                        <div ng-if="result.selectedToAdd">
                            <div class="searchResultSelectedRow">
                                <div class="container searchResultSelectedContainer"  >
                                    <div class="row">
                                        <div class="col-sm-12 selectedRowCol">
                                            <p class="tab selectedText"> <b> La Classi</b> che potranno vedere il materiale dalle Console de Gioco.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 selectedRowCol">
                                            <label class="checkbox-inline" ng-repeat="c in result.classes">
                                                {{c.class}}<input type="checkbox" class="cbStyleSearch" ng-model="c.selected">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 selectedRowCol">
                                            <p class="tab selectedText"> <b> Eticchetta il materiale </b></p>
                                        </div>
                                        <div class="col-sm-4 selectedRowCol">
                                            <div class="wrapper dropdownSelectedClass">
                                                <div class="selected-items-box" ng-click="materialeListToggle($index)">Materiale <span class="downArrow"></span></div>
                                                <div class="list" id="materiale{{$index}}">
                                                    <ul class="items-list">
                                                        <li ng-repeat="s in result.subjects">
                                                            <input type="checkbox" class='' ng-model="s.selected" />
                                                            <span>{{s.subject}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 selectedRowCol">
                                            <div class="wrapper dropdownSelectedClass">
                                                <div class="selected-items-box" ng-click="classListToggle($index)">Classe <span class="downArrow"></span></div>
                                                <div class="list" id="classe{{$index}}">
                                                    <ul class="items-list">
                                                        <li ng-repeat="sy in result.schoolYears">
                                                            <input type="checkbox" class='' ng-model="sy.selected" />
                                                            <span>{{sy.schoolYear}}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </li>                
            </ul>
        </div>
        <div class="multimedia-pagination-navigation" ng-if="imageResults || ytResults || wikiResults">
            <div class="btn btn-primary" ng-click="changePage(prevPageToken)" ng-disabled="prevPageToken < 0">Pagina precedente</div>
            <div class="btn btn-primary" ng-click="changePage(nextPageToken)" ng-disabled="!nextPageToken">Pagina successiva</div>
        </div>
	</div>
</div>