<div class="container container-dialog"> 
    <div id="error" class="alert alert-danger fade in" data-ng-show="errorMsg">
        <a class="close" data-hide="alert" aria-label="close"
        data-ng-click="resetError()">&times;</a>
        {{errorMsg}}
    </div>          
    <table class="table table-striped ">
      <tbody>
        <tr class="info">
          <td>
            <div>
                <p><span class="required-sign">*</span><span class="tab"></span> 1. Iserisci il <strong>titolo</strong> del materiale</p>
            </div>
          </td>
          <td>
            <input class="form-control" type="text" ng-model="newMedia.name" placeholder="Titolo" required/>
          </td>
        </tr>
        <tr class="info">
          <td>
            <div>
                <p><span class="required-sign">*</span><span class="tab"></span> 2. Seleziona la <strong>tipologia</strong> del materiale</p>
            </div>
          </td>
          <td>
            <div>
                <select class="form-control" ng-model="newMedia.type">
                    <option value="" selected disabled style="display: none;">Tipologia</option>
                    <option value="image">Immagine</option>
                    <option value="video">Video</option>
                    <option value="link">Collegamento a pagina web</option>
                    <option value="file">File</option>
                </select>
            </div>
          </td>
        </tr>
        <tr class="info">
            <td colspan="2" class="round-td">
                <table class="tableFullWith">
                    <tbody >
                        <tr class="info">
                            <td colspan="2">
                                <div>
                                    <p><span class="required-sign">*</span> <span class="tab"></span> 3.a) Inserisci I'indirizzo web (<strong>URL</strong>)</p>
                                </div>
                            </td>
                            <td >
                                <input type="url" class="form-control" ng-model="newMedia.link" placeholder="URL" required/>
                            </td>
                        </tr>
                        <tr ng-show="(newMedia.type == 'image') || (newMedia.type == 'file')"> <td colspan="3"><hr class="cBlue"></td> </tr>
                        <tr ng-show="(newMedia.type == 'image') || (newMedia.type == 'file')">
                            <td>
                                <p class="tab">  <span class="tab"></span> 3.b) Seleziona un file dal computer</p>
                            </td>
                            <td colspan="2">
                                <div ng-show="(newMedia.type == 'image') || (newMedia.type == 'file')">
                                    <div >
                                        <p>{{file.filename ? file.filename : 'Nessun file selezionato'}}</p>
                                        <span ng-disabled="loading" class="btn btn-info btn-file btn-margin">
                                            Scegli<input type="file" id="upload-content-file" base-sixty-four-input ng-model="file" />
                                        </span>
                                        <button ng-disabled="!file" ng-click="uploadFile()" class="btn btn-info">
                                            <span ng-show="loading"><i class="glyphicon glyphicon-refresh spinning"></i></span>
                                            Carica
                                        </button>
                                        <p></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="(newMedia.type == 'image') || (newMedia.type == 'file')">
                            <td></td>
                            <td colspan="2"><p class="cBlue-text tab"> <b>Attenzione!</b> I file devono essere privi di copyright e rispettare la legge sul trattamento dei dati personali.</p></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class="info">
            <td colspan="2" class="round-td">
                <p class="tab"> 4. <b> La Classi</b> che potranno vedere il materiale dalla Console di Gioco.</p>
                 
                <div class="tab"> 
                    <label class="checkbox-inline" ng-repeat="c in classes">
                        {{c.class}}<input type="checkbox" class="cbStyle" ng-model="c.selected">
                    </label>
                </div>
            </td>
        </tr>
        <tr class="info">
            <td colspan="2" class="round-td">
                <p class="tab">
                    5. Visibile con il <b> link pubblico del gioco</b>
                    <select class="form-control dropdownPublicLink" 
                        ng-model="publicLink"
                        ng-options="o.v as o.n for o in [{ n: 'Si', v: true }, { n: 'No', v: false }]"
                        ng-change="changePublicLink(publicLink)">
                    </select>
                </p>
                <div>
                    <p class="tab smaller">Il materiale sarà ad accesso pubblico. Chiunque in possesso del link pubblico del gioco lo potra vedere.</p>
                </div>
            </td>
        </tr>
        <tr class="info">
            <td colspan="2" class="round-td">
                <p class="tab">
                    6. <b> Condividi </b> il materiale. Permetterai di trovalo con la funzione "Cerca già utilizzati".
                    <select class="form-control dropdownCondiviso" 
                        ng-model="sharable"
                        ng-options="o.v as o.n for o in [{ n: 'Condiviso', v: true }, { n: 'No', v: false }]"
                        ng-change="changeSharable(sharable)">
                    </select>
                </p>
            </td>
        </tr>
        <tr class="info">
            <td colspan="2" class="round-td">
                <p class="tab"> 7. <b> Etichetta </b> il materiale. Aiuterai a trovalo con la funzione "Cerca già utilizzati".</p>
                <br>
                <div class="tab"> 
                    <span ><u>Materia:</u></span> 
                    <span class="tab"></span> 
                    <label class="checkbox-inline" ng-repeat="s in subjects">
                        {{s.subject}}<input type="checkbox" class="cbStyle" ng-model="s.selected">
                    </label>
                </div>
                <br>
                <div class="tab"> 
                    <span ><u>Classi:</u></span> 
                    <span class="tab"></span> 
                    <label class="checkbox-inline" ng-repeat="sy in schoolYears">
                        {{sy.schoolYear}}<input type="checkbox" class="cbStyle" ng-model="sy.selected">
                    </label>
                </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>