<div class="row" style="min-height:300px">
    <div class="col-lg-12 center field">
        <a class="btn btn-info btn-margin" data-ui-sref="root.school.child({idChild: ''})">Crea nuovo</a>
    </div>
    <div class="col-lg-12">
        <ul class="list-group list-categories">
            <li class="list-group-item" data-ng-repeat="entry in schools[currentSchool].children">
                <div class="row v-center">
                    <div class="col-md-2">
                        <img class="path-img" alt="Placeholder">
                    </div>
                    <div class="col-md-8">
                        <h5>{{$index + 1}}. {{getChildName(entry)}}</h5>
                        <h5>{{entry.classRoom}}</h5>     
                    </div>
                    <div class="col-md-2 right">
                        <a data-ui-sref="root.school.child({idChild: $index})" class="btn btn-icon btn-primary" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a data-ng-click="remove($index)" class="btn btn-icon btn-danger" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>