<div layout="column" class="stats" layout-padding>
  <div layout="row">
    <div layout="column" flex="80" flex-offset="10">
      <h1 class="md-title title-progress">{{'stats_gamescore' | translate:'{done: ' + stats.gameScore + ', total: ' + stats.maxGameScore + '}'}}</h1>
      <div layout="row" layout-align="start" layout-margin>
        <h1 class="md-display-1">{{stats.gameScore}}</h1>
        <md-progress-linear md-mode="determinate" ng-value="getGameScorePercentage()"></md-progress-linear>
        <h1 class="md-display-1">{{stats.maxGameScore}}</h1>
      </div>
      <!-- next leg -->
      <div ng-if="endReached"><h2 class="md-title title-progress"> <i class="icon icon-foot ng-scope flex-10"></i> Successfully finish</h2></div>
      <div ng-if="!endReached">
        <h2 class="md-title title-progress">{{'stats_next_leg' | translate}} {{currentDueScore}} km</h2>
        <div layout="row" layout-align="start" layout-margin>
          <h1 class="md-display-1">{{currentLegEarnScore}}</h1>
          <md-progress-linear md-mode="determinate" ng-value='getCurrentLegScorePercentage()'></md-progress-linear>
          <h1 class="md-display-1">{{currentLegScore}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div layout="row" layout-align="start center">
    <div flex="50">
      <h1 class="md-title">{{'stats_ranking_global' | translate}}</h1>
    </div>
    <div flex="50" class="legenda">
      {{'stats_legenda' | translate}} <i class="icon icon-foot"></i><i class="icon icon-star"></i> 10 km
    </div>
  </div>
  <div layout="row" class="table">
    <!-- walkPlusPedibus -->
    <div layout="column" flex="20" class="mode-walkPlusPedibus">
      <div class="header">{{'stats_walkPlusPedibus' | translate}}</div>
      <div class="scroller">
        <md-button class="md-icon-button" ng-click="scroll('walkPlusPedibus', 'up')">
          <md-icon class="icon-arrow_up"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="scroll('walkPlusPedibus', 'down')">
          <md-icon class="icon-arrow_down"></md-icon>
        </md-button>
      </div>
      <md-content id="walkPlusPedibus" class="content">
        <div layout="row" layout-wrap ng-repeat="n in getCount(MathFloor(stats.scoreModeMap.walkPlusPedibus / 10)) track by $index">
          <i flex="10" class="icon icon-foot" ng-repeat="i in getCount(10) track by $index"></i>
          <div flex="100" ng-if="($index + 1) % 10 === 0">
            <hr>
          </div>
        </div>
        <div layout="row">
          <i flex="10" class="icon icon-foot" ng-repeat="n in getCount(stats.scoreModeMap.walkPlusPedibus % 10) track by $index"></i>
          <!-- create another 'i' it show if backend calculation have =>0.5 value -->
          <i flex="10" ng-if="checkHalfFoot(walkPlusPedibus)" class="icon icon-foot blackFoot" ></i>
        </div>
      </md-content>
    </div>
    <!-- bike -->
    <div layout="column" flex="20" class="mode-bike">
      <div class="header">{{'stats_bike' | translate}}</div>
      <div class="scroller">
        <md-button class="md-icon-button" ng-click="scroll('bike', 'up')">
          <md-icon class="icon-arrow_up"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="scroll('bike', 'down')">
          <md-icon class="icon-arrow_down"></md-icon>
        </md-button>
      </div>
      <md-content id="bike" class="content">
        <div layout="row" layout-wrap ng-repeat="n in getCount(MathFloor(stats.scoreModeMap.bike / 10)) track by $index">
          <i flex="10" class="icon icon-foot" ng-repeat="i in getCount(10) track by $index"></i>
          <div flex="100" ng-if="($index + 1) % 10 === 0">
            <hr>
          </div>
        </div>
        <div layout="row">
          <i flex="10" class="icon icon-foot" ng-repeat="n in getCount(stats.scoreModeMap.bike % 10) track by $index"></i>
          <!-- create another 'i' it show if backend calculation have =>0.5 value -->
          <i flex="10" ng-if="checkHalfFoot(bike)" class="icon icon-foot blackFoot" ></i>
        </div>
      </md-content>
    </div>
    <!-- bus -->
    <div layout="column" flex="20" class="mode-bus">
      <div class="header">{{'stats_bus' | translate}}</div>
      <div class="scroller">
        <md-button class="md-icon-button" ng-click="scroll('bus', 'up')">
          <md-icon class="icon-arrow_up"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="scroll('bus', 'down')">
          <md-icon class="icon-arrow_down"></md-icon>
        </md-button>
      </div>
      <md-content id="bus" class="content">
        <div layout="row" layout-wrap ng-repeat="n in getCount(MathFloor(stats.scoreModeMap.bus / 10)) track by $index">
          <i flex="10" class="icon icon-foot" ng-repeat="i in getCount(10) track by $index"></i>
          <div flex="100" ng-if="($index + 1) % 10 === 0">
            <hr>
          </div>
        </div>
        <div layout="row">
          <i flex="10" class="icon icon-foot" ng-repeat="n in getCount(stats.scoreModeMap.bus % 10) track by $index"></i>
          <!-- create another 'i' it show if backend calculation have =>0.5 value -->
          <i flex="10" ng-if="checkHalfFoot(bus)" class="icon icon-foot blackFoot" ></i>
        </div>
      </md-content>
    </div>
    <!-- pandr "In auto fino alla piazzola di sosta" -->
    <div layout="column" flex="20" class="mode-pandr">
      <div class="header">{{'stats_pandr' | translate}}</div>
      <div class="scroller">
        <md-button class="md-icon-button" ng-click="scroll('pandr', 'up')">
          <md-icon class="icon-arrow_up"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="scroll('pandr', 'down')">
          <md-icon class="icon-arrow_down"></md-icon>
        </md-button>
      </div>
      <md-content id="pandr" class="content">
        <div layout="row" layout-wrap ng-repeat="n in getCount(MathFloor(stats.scoreModeMap.pandr / 10)) track by $index">
          <i flex="10" class="icon icon-foot" ng-repeat="i in getCount(10) track by $index"></i>
          <div flex="100" ng-if="($index + 1) % 10 === 0">
            <hr>
          </div>
        </div>
        <div layout="row">
          <i flex="10" class="icon icon-foot" ng-repeat="n in getCount(stats.scoreModeMap.pandr % 10) track by $index"></i>
          <!-- create another 'i' it show if backend calculation have =>0.5 value -->
          <i flex="10" ng-if="checkHalfFoot(pandr)" class="icon icon-foot blackFoot" ></i>
        </div>
      </md-content>
    </div>
    <!-- carpooling -->
    <div layout="column" flex="20" class="mode-carpooling">
      <div class="header">{{'stats_carpooling' | translate}}</div>
      <div class="scroller">
        <md-button class="md-icon-button" ng-click="scroll('carpooling', 'up')">
          <md-icon class="icon-arrow_up"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="scroll('carpooling', 'down')">
          <md-icon class="icon-arrow_down"></md-icon>
        </md-button>
      </div>
      <md-content id="carpooling" class="content">
        <div layout="row" layout-wrap ng-repeat="n in getCount(MathFloor(stats.scoreModeMap.carpooling / 10)) track by $index">
          <i flex="10" class="icon icon-foot" ng-repeat="i in getCount(10) track by $index"></i>
          <div flex="100" ng-if="($index + 1) % 10 === 0">
            <hr>
          </div>
        </div>
        <div layout="row">
          <i flex="10" class="icon icon-foot" ng-repeat="n in getCount(stats.scoreModeMap.carpooling % 10) track by $index"></i>
          <!-- create another 'i' it show if backend calculation have =>0.5 value -->
          <i flex="10" ng-if="checkHalfFoot(carpooling)" class="icon icon-foot blackFoot" ></i>
        </div>
      </md-content>
    </div>
    <!-- Bonus  -->
    <div layout="column" flex="20" class="bonus">
      <div class="header">{{'stats_bonus' | translate}}</div>
      <div class="scroller">
        <md-button class="md-icon-button" ng-click="scroll('bonus', 'up')">
          <md-icon class="icon-arrow_up"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="scroll('bonus', 'down')">
          <md-icon class="icon-arrow_down"></md-icon>
        </md-button>
      </div>
      <md-content id="bonus" class="content">
        <div layout="row" layout-wrap ng-repeat="n in getCount(MathFloor(stats.scoreModeMap.bonus / 10)) track by $index">
          <i flex="10" class="icon icon-star" ng-repeat="i in getCount(10) track by $index"></i>
          <div flex="100" ng-if="($index + 1) % 10 === 0">
            <hr>
          </div>
        </div>
        <div layout="row">
          <i flex="10" class="icon icon-star" ng-repeat="n in getCount(stats.scoreModeMap.bonus % 10) track by $index"></i>
        </div>
      </md-content>
    </div>
  </div>
</div>
