
<div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">Please provide the information.</div>
                    <div class="panel-body">
                        <div class="row">
                                <form ng-app="myApp" ng-controller="validateCtrl" 
                                name="myForm" novalidate>
                                
                                <p>Username:<br>
                                <input type="text" name="user" ng-model="user" required>
                                <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                                <span ng-show="myForm.user.$error.required">Username is required.</span>
                                </span>
                                </p>
                                
                                <p>Email:<br>
                                <input type="email" name="email" ng-model="email" required>
                                <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                                <span ng-show="myForm.email.$error.required">Email is required.</span>
                                <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                                </span>
                                </p>
                                
                                <p>
                                <input type="submit"
                                ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
                                myForm.email.$dirty && myForm.email.$invalid">
                                </p>
                                
                                </form>
                        </div>
                        <div class="row">
                            
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-12 form-group"><button class="btn btn-primary">Accept</button></div> -->
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" ng-click="goRegistration()">Registration</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>