
<div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">Please provide the information.</div>
                    <div class="panel-body">
                        <!-- <form name="myForm"> -->
                        <div class="row">
                            <div class="col-md-2">
                                <label>Name:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="user" ng-model="normalProfile.name" required>
                            </div>
                        </div>
                        <div class="row"><div class="col-md-12"></div></div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Surname:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="surname" ng-model="normalProfile.surname" required>
                            </div>
                        </div>
                        <div class="row"><div class="col-md-12"></div></div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Email:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="email" name="email" ng-model="normalProfile.email" required>
                            </div>
                        </div>
                        <div class="row"><div class="col-md-12"></div></div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Codice Fiscale:</label>
                            </div>
                            <div class="col-md-10">
                                <input type="text" name="cf" ng-model="normalProfile.cf" required>
                            </div>
                        </div>
                        <!-- </form> -->
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary" ng-disabled="(normalProfile.name && normalProfile.surname && normalProfile.email && normalProfile.cf) ?  false : true" ng-click="userRegistration()">Registration</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>