
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading" >Accettazione termini di servizio</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                        	Il sistema prevede la possibilità di caricare materiale didattico multimediale da associare alle tappe dei percorsi Kids Go Green (funzionalità "Crea nuovo" in "Contenuti multimediali"). Il materiale caricato attraverso questa funzionalità non deve essere protetto da copyright.</br>
                        	Dichiaro di aver compreso i vincoli relativi al caricamento di nuovo materiale multimediale e mi assumo ogni responsabilità in caso di violazione dei diritti d’autore.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 checkbox">
                            <label><input class="checkBoxStyle" type="checkbox" value="" ng-model="checked" >Accetto i termini</label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" ng-disabled="!checked" ng-click="acceptTerms()">Invio</button>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>