
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading" ng-show="!showRegi">You have to accept the terms.</div>
                <div class="panel-heading" ng-show="showRegi">You have to fillup the form and accept the terms.</div>
                <div class="panel-body">
                    <div class="row" ng-show="showRegi">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Name:</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="user" ng-model="normalProfile.name" required>
                                </div>
                            </div>
                            <div class="row"><div class="col-md-12"></div></div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Surname:</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="surname" ng-model="normalProfile.surname" required>
                                </div>
                            </div>
                            <div class="row"><div class="col-md-12"></div></div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Email:</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="email" name="email" ng-model="normalProfile.email" required>
                                </div>
                            </div>
                            <div class="row"><div class="col-md-12"></div></div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Codice Fiscale:</label>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" name="cf" ng-model="normalProfile.cf" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 checkbox">
                            <label><input class="checkBoxStyle" type="checkbox" value="" ng-model="checked" >I agree all terms.</label>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-md-12 form-group"><button class="btn btn-primary">Accept</button></div> -->
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" ng-show="!showRegi" ng-disabled="!checked" ng-click="acceptTerms()">Accept</button>
                    <button class="btn btn-default" ng-show="!showRegi" ng-click="goRegistration()">Registration</button>
                    <button class="btn btn-primary" ng-show="showRegi" ng-disabled="(checked && normalProfile.name && normalProfile.surname && normalProfile.email && normalProfile.cf) ?  false : true" ng-click="userRegistration()">Registration</button>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>