<fieldset class="row" style="min-height: 300px"
	ng-disabled="!PermissionsService.permissionEnabledShowLegs()">
	<fieldset class="col-lg-12 center field"
		ng-disabled="!PermissionsService.permissionEnabledEditLegs()">
		<a class="btn btn-info btn-margin button-blue"
			ui-sref="root.path.leg({idLeg: ''})"
			ng-disabled="currentGame.deployed">Crea nuova <i
			class="fa fa-plus-circle"></i></a> <a class="btn button-blue"
			ng-class="{'btn-success': enableOrder, 'btn-info': !enableOrder}"
			ng-click="saveOrder()" ng-disabled="(!PermissionsService.permissionEnabledEditLegs()) || currentGame.deployed">{{enableOrder
			? 'Conferma ordine ' : 'Riordina tappe '}}<i class="fa fa-sort"
			ng-if="!enableOrder"></i> <i class="fa fa-check-circle"
			ng-if="enableOrder"></i>
		</a>
	</fieldset>
	<div class="col-lg-12">
		<ul ui-sortable="sortableOptions" ng-model="legs"
			class="list-group list-categories">
			<li class="list-group-item" ng-repeat="leg in legs">
				<div class="row v-center">
					<div class="col-sm-4 col-xs-4">
						<a ng-hide="enableOrder"
							ui-sref="root.path.leg({idLeg: leg.objectId})"
							href="#/path/{{selectedOwner}}/{{selectedInstitute.objectId}}/{{selectedSchool.objectId}}/{{selectedGame.objectId}}/{{path.objectId}}/info"
							ng-click="$parent.$parent.$parent.pathsModified = true"
							class="interact-blue">
							<h5>{{$index + 1}}. {{leg.name}}</h5>
						</a> <img class="path-img" ng-src="{{leg.imageUrl}}"
							alt="{{leg.name}}" ng-if="leg.imageUrl">
						<div class="load-img" ng-if="!leg.imageUrl" ui-sref="root.path.leg({idLeg: leg.objectId})"
							href="#/path/{{selectedOwner}}/{{selectedInstitute.objectId}}/{{selectedSchool.objectId}}/{{selectedGame.objectId}}/{{path.objectId}}/info"
							ng-click="$parent.$parent.$parent.pathsModified = true">
							<p class="center">Carica immagine</p>
							<p class="center">
								<i class="fa fa-plus-circle"></i>
							</p>
						</div>
					</div>
					<div class="col-md-8 col-xs-8">

						<h5>Elementi multimediali: {{leg.multimediaContents}}</h5>
						<!-- <h5>Posizione: Lat. {{leg.geocoding[1].toFixed(5)}}, Long.
							{{leg.geocoding[0].toFixed(5)}}</h5> -->
						<h5>Distanza: {{leg.score/1000}} Km</h5>
					</div>
					<div class="col-md-2 col-xs-2 right">
						<!--                         <a ng-hide="enableOrder" ui-sref="root.path.leg({idLeg: leg.objectId})" class="btn btn-icon btn-primary" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
 -->
						<a ng-hide="enableOrder" ng-click="remove(leg)"
							class="btn btn-icon btn-danger" role="button"
							ng-disabled="(!PermissionsService.permissionEnabledEditLegs()) || currentGame.deployed"><i
							class="fa fa-trash" aria-hidden="true"></i></a> <a
							ng-disabled="(!PermissionsService.permissionEnabledDeleteLegs()) || currentGame.deployed" ng-show="enableOrder" class="handle btn-icon btn-reorder"><i
							class="glyphicon glyphicon-align-justify"></i></a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</fieldset>