<div class="" ng-show="flashPublicData" style="height: 100%;">
  <!-- <a href="http://www.smartcommunitylab.it" class="credit-banner"><img src="../game-dashboard/img/credits/logo_sco_fbk.png"></a>
  <a href="http://www.comune.trento.it" class="credit-banner"><img src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
  <a href="http://www.smartcommunitylab.it/climb/" class="credit-banner"><img src="../game-dashboard/img/credits/logo_climb.png"></a>
  <a href="http://www.comune.trento.it/Aree-tematiche/Smart-city" class="credit-banner"><img src="../game-dashboard/img/credits/logo_smart_city.png"></a> -->
  
  <!-- Trentino -->
  <div ng-if="sponsorTemplate == 'trentino'"  style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">
        <md-button aria-label="Go Back" class="credits-banner" flex="">
          <a href="http://www.smartcommunitylab.it" class="credit-banner"><img src="../game-dashboard/img/credits/logo_sco_fbk.png"></a>
        </md-button>
        <md-button aria-label="Go Back" class="credits-banner" flex="">
            <a href="http://www.comune.trento.it" class="credit-banner"><img src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
        </md-button>
        <md-button aria-label="Go Back" class="credits-banner" flex="">
          <a href="http://www.smartcommunitylab.it" class="credit-banner"><img src="../game-dashboard/img/credits/logo_sco_fbk.png"></a>
        </md-button>
        <md-button aria-label="Go Back" class="credits-banner" flex="">
            <a href="http://www.comune.trento.it/Aree-tematiche/Smart-city" class="credit-banner"><img src="../game-dashboard/img/credits/logo_smart_city.png"></a>
        </md-button>
      </div>
    </md-toolbar>
    <md-content flex layout-padding style="height: 100%;">
      <div layout="column" layout-wrap="" style="height: 100%;">
        <div flex="60" style="background-color: #4153a0; position: relative;">
          <div layout="row" class="centerBanner" >
            <div flex="20" class="credits-banner" >
              <a href="http://www.smartcommunitylab.it" class="credit-banner"><img src="../game-dashboard/img/credits/logo_sco_fbk.png"></a>
            </div>
            <div flex="20" class="credits-banner" >
              <a href="http://www.comune.trento.it" class="credit-banner"><img src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
            </div>
            <div flex="40" class="credits-banner" >
              <a href="http://www.smartcommunitylab.it" class="credit-banner"><img src="../game-dashboard/img/credits/logo_sco_fbk.png"></a>
            </div>
            <div flex="20" class="credits-banner" >
              <a href="http://www.comune.trento.it/Aree-tematiche/Smart-city" class="credit-banner"><img src="../game-dashboard/img/credits/logo_smart_city.png"></a>
            </div>
          </div>
        </div>
        <div flex="40" style="position: relative;">
          <div layout="row" class="centerBanner" >
            <div flex="30" class="credits-banner" >
              <a href="http://www.smartcommunitylab.it" class="credit-banner"><img src="../game-dashboard/img/credits/logo_sco_fbk.png"></a>
            </div>
            <div flex="40" class="credits-banner" >
              <a href="http://www.comune.trento.it" class="credit-banner"><img src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
            </div>
            <div flex="30" class="credits-banner" >
              <a href="http://www.smartcommunitylab.it" class="credit-banner"><img src="../game-dashboard/img/credits/logo_sco_fbk.png"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- Ferrara -->
  <div ng-if="sponsorTemplate == 'ferrara'"  style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools" >
        <div aria-label="Go Back"  class="credits-banner " flex="25">
        </div>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="25">
          <a href="#" class="credit-banner"><img src="../game-dashboard/img/credits/comuneFerrara.jpg"></a>
        </md-button>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="25">
            <a href="#" class="credit-banner"><img src="../game-dashboard/img/credits/provinciaFerrara.png"></a>
        </md-button>
        <div aria-label="Go Back"  class="credits-banner " flex="25">
        </div>
      </div>
    </md-toolbar>
  
    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" style="background-color: #4153a0; position: relative;">
          <div layout="row" class="centerBannerUp" >
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerFBK"><img src="../game-dashboard/img/credits/fbk.svg" style="width: 95%;" ></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="#" class="centerBannerKids"><img src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.centroantartide.it" class="centerBannerAntartide"><img src="../game-dashboard/img/credits/antartide.svg" style="width: 95%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" style="position: relative;">
          <div layout="row" class="centerBannerDown" >
            <div flex="40" class="centerBannerRelative" >
              <a href="https://www.metropolidipaesaggio.it" class="centerBannerMetropoli"><img src="../game-dashboard/img/credits/landscapeMetropolis.png" style="width: 50%;"></a>
            </div>
            <div flex="60" class="credits-banner" >
              <a href="http://www.climate-kic.org" class=""><img src="../game-dashboard/img/credits/KIC_EU.png" style="width: 50%;"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  
</div>
<div ng-show="!flashPublicData">
  <md-toolbar class="desktop bar-colors">
    <div class="md-toolbar-tools bar-colors">
      <h2 class="header-custom" flex="" md-truncate="">
        <span style="margin-right:4px;">{{gamePublicTitle}}:</span><span class="game-description" ng-bind-html="gamePublicDescription"></span>      
      </h2>
      <md-button aria-label="Go Back" class="credits-banner">
        <a href="http://www.smartcommunitylab.it" class="credit-banner"><img src="../game-dashboard/img/credits/logo_sco_fbk.png"></a>
      </md-button>
    </div>
  </md-toolbar>
  <main layout="row" flex>
      <md-content flex>
        <ui-view name="content"></ui-view>
      </md-content>
  </main>
</div>