<div class="" ng-show="flashPublicData" style="height: 100%;">
  <!-- Trentino 2020 -->
  <div ng-if="sponsorTemplate == 'trentino'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">
        <div aria-label="Go Back" class="credits-banner " flex="">
        </div>
        <md-button aria-label="Go Back" class="credits-banner" flex="">
          <a href="http://www.comune.trento.it" class="credit-banner"><img
              ng-src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
        </md-button>
        <md-button aria-label="Go Back" class="credits-banner" flex="">
          <a href="#" class="credit-banner"><img ng-src="../game-dashboard/img/credits/comuneRovereto.png"></a>
        </md-button>
        <div aria-label="Go Back" class="credits-banner " flex="">
        </div>
      </div>
    </md-toolbar>
    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpTN">
          <div layout="row" class="centerBannerRowUpTN">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftTN"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 95%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a ng-click="goContent()" href class="centerBannerUpMiddleTN"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.kaleidoscopio.coop" class="centerBannerUpRightTN"><img
                  ng-src="../game-dashboard/img/credits/kaleidoscopio.svg" style="width: 95%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" class="centerBannerDownTN">
          <div layout="row" class="centerBannerRowDownTN">
            <div flex="50" class="centerBannerRelative">
              <a href="http://www.gruppoitas.it"><img class="centerBannerDownLeftTN"
                  ng-src="../game-dashboard/img/credits/itas.jpg"></a>
            </div>
            <div flex="50" class="centerBannerRelative">
              <a href="http://www.cassacentrale.it"><img class="centerBannerDownCenterTN"
                  ng-src="../game-dashboard/img/credits/cassaCentrale.jpg"></a>
            </div>
          </div>
        </div>
        <!-- <div flex="20" style="position: relative;">
          <div layout="row" class="centerBannerRowFooterTN" >
            <div flex="10" class="centerBannerRelative" ></div>
            <div flex="20" class="centerBannerRelative" >
              <a href="http://www.comune.trento.it" ><img class="centerBannerFooterTN" ng-src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
            </div>
            <div flex="20" class="centerBannerRelative" >
              <a href="http://www.comune.trento.it" ><img class="centerBannerFooterTN" ng-src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
            </div>
            <div flex="20" class="centerBannerRelative" >
              <a href="http://www.comune.trento.it" ><img class="centerBannerFooterTN" ng-src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
            </div>
            <div flex="20" class="centerBannerRelative" >
              <a href="http://www.comune.trento.it" ><img class="centerBannerFooterTN" ng-src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
            </div>
            <div flex="10" class="centerBannerRelative" ></div>
          </div>
        </div> -->
      </div>
    </md-content>
  </div>
  <!-- Trentino 2021 -->
  <div ng-if="sponsorTemplate == 'trentino_2021'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">
        <div aria-label="Go Back" class="credits-banner " flex="">
        </div>
        <md-button aria-label="Go Back" class="credits-banner" flex="">
          <a href="http://www.comune.trento.it" class="credit-banner"><img
              ng-src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
        </md-button>
        <md-button aria-label="Go Back" class="credits-banner" flex="">
          <a href="#" class="credit-banner"><img ng-src="../game-dashboard/img/credits/comuneRovereto.png"></a>
        </md-button>
        <div aria-label="Go Back" class="credits-banner " flex="">
        </div>
      </div>
    </md-toolbar>
    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpTN">
          <div layout="row" class="centerBannerRowUpTN">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftTN"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 95%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a ng-click="goContent()" href class="centerBannerUpMiddleTN"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.kaleidoscopio.coop" class="centerBannerUpRightTN"><img
                  ng-src="../game-dashboard/img/credits/kaleidoscopio.svg" style="width: 95%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" class="centerBannerDownTN">
          <div layout="row" class="centerBannerRowDownTN">
            <div flex="30" class="centerBannerRelative">
              <a href="http://www.gruppoitas.it"><img class="centerBannerDownLeftTN"
                  ng-src="../game-dashboard/img/credits/itas.jpg"></a>
            </div>
            <div flex="30" class="centerBannerRelative">
              <a href="http://www.cassacentrale.it"><img class="centerBannerDownCenterTN"
                  ng-src="../game-dashboard/img/credits/cassaCentrale.jpg"></a>
            </div>
            <div flex="30" class="centerBannerRelative">
              <a href="https://www.fondazionevrt.it"><img class="centerBannerDownRightTN"
                  ng-src="../game-dashboard/img/credits/fondazione_vrt.png"></a>
            </div>
          </div>
        </div>
        <!-- <div flex="20" style="position: relative;">
          <div layout="row" class="centerBannerRowFooterTN" >
            <div flex="10" class="centerBannerRelative" ></div>
            <div flex="20" class="centerBannerRelative" >
              <a href="http://www.comune.trento.it" ><img class="centerBannerFooterTN" ng-src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
            </div>
            <div flex="20" class="centerBannerRelative" >
              <a href="http://www.comune.trento.it" ><img class="centerBannerFooterTN" ng-src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
            </div>
            <div flex="20" class="centerBannerRelative" >
              <a href="http://www.comune.trento.it" ><img class="centerBannerFooterTN" ng-src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
            </div>
            <div flex="20" class="centerBannerRelative" >
              <a href="http://www.comune.trento.it" ><img class="centerBannerFooterTN" ng-src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
            </div>
            <div flex="10" class="centerBannerRelative" ></div>
          </div>
        </div> -->
      </div>
    </md-content>
  </div>
  <!-- Trentino 2022 -->
  <div ng-if="sponsorTemplate == 'trentino_2022'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">

        <div aria-label="Go Back" class="credits-banner " flex="">
        </div>
        <md-button aria-label="Go Back" class="credits-banner centerBannerUpLeftTN22" flex="">
          <a href="http://www.comune.trento.it" class="credit-banner"><img
              ng-src="../game-dashboard/img/credits/logo_comune_TN.png"></a>
        </md-button>
        <md-button aria-label="Go Back" class="credits-banner centerBannerUpMiddleTN22" flex="">
          <a href="https://trentogiovani.it/" class="credit-banner"><img
              ng-src="../game-dashboard/img/credits/trentoGiovani.png"></a>
        </md-button>
        <md-button aria-label="Go Back" class="credits-banner centerBannerUpRightTN22" flex="">
          <a href="https://www.comune.trento.it/Aree-tematiche/Ambiente-e-territorio/Mobilita-e-traffico-urbano/Iniziative/Bambini-A-Piedi-Sicuri"
            class="credit-banner"><img ng-src="../game-dashboard/img/credits/apsTrasparente.png"></a>
        </md-button>
        <div aria-label="Go Back" class="credits-banner " flex="">
        </div>
      </div>
    </md-toolbar>
    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpTN">
          <div layout="row" class="centerBannerRowUpTN">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftTN"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 95%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a ng-click="goContent()" href class="centerBannerUpMiddleTN"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.kaleidoscopio.coop" class="centerBannerUpRightTN"><img
                  ng-src="../game-dashboard/img/credits/kaleidoscopio.svg" style="width: 95%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" class="centerBannerDownTN22">
          <div layout="row" class="centerBannerRowDownTN22">
            <div flex="30" class="centerBannerRelative">
              <a href="http://www.gruppoitas.it"><img class="centerBannerDownLeftTN22"
                  ng-src="../game-dashboard/img/credits/itas2022.png"></a>
            </div>
            <div flex="30" class="centerBannerRelative">
              <a href="http://www.cassacentrale.it"><img class="centerBannerDownCenterTN22"
                  ng-src="../game-dashboard/img/credits/cassaCentrale2022.jpg"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
   <!-- Trentino 2023_1 -->
   <div ng-if="sponsorTemplate == 'trentino_2023_1'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">

        <div aria-label="Go Back" class="credits-banner " flex="">
        </div>
        <div aria-label="Go Back" class="credits-banner " flex="">
        </div>
      </div>
    </md-toolbar>
    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpTN">
          <div layout="row" class="centerBannerRowUpTN">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftTN"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 95%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a ng-click="goContent()" href class="centerBannerUpMiddleTN"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.kaleidoscopio.coop" class="centerBannerUpRightTN"><img
                  ng-src="../game-dashboard/img/credits/kaleidoscopio.svg" style="width: 95%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" class="centerBannerDownTN23">
          <div layout="row" class="centerBannerRowDownTN23">
            <div flex="30" class="centerBannerRelative">
              <a href="http://www.gruppoitas.it"><img class="centerBannerDownLeftTN23"
                  ng-src="../game-dashboard/img/credits/itas.jpg"></a>
            </div>
            <div flex="30" class="centerBannerRelative">
              <a href="http://www.cassacentrale.it"><img class="centerBannerDownCenterTN23"
                  ng-src="../game-dashboard/img/credits/cassaCentrale2022.jpg"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- Trentino 2023_2 -->
  <div ng-if="sponsorTemplate == 'trentino_2023_2'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">

        <div aria-label="Go Back" class="credits-banner " flex="25">
        </div>
        <md-button aria-label="Go Back" class="credits-banner centerBannerUpLeftTN232" flex="">
          <a href="https://www.cr-valsuganaetesino.net/privati/" class="credit-banner"><img
              ng-src="../game-dashboard/img/credits/crvalsugana.jpg"></a>
        </md-button>
        <div aria-label="Go Back" class="credits-banner " flex="25">
        </div>
      </div>
    </md-toolbar>
    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpTN">
          <div layout="row" class="centerBannerRowUpTN">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftTN"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 95%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a ng-click="goContent()" href class="centerBannerUpMiddleTN"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.kaleidoscopio.coop" class="centerBannerUpRightTN"><img
                  ng-src="../game-dashboard/img/credits/kaleidoscopio.svg" style="width: 95%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" class="centerBannerDownTN232">
          <div layout="row" class="centerBannerRowDownTN232">
            <div flex="30" class="centerBannerRelative">
              <a href="http://www.gruppoitas.it"><img class="centerBannerDownLeftTN232"
                  ng-src="../game-dashboard/img/credits/itas.jpg"></a>
            </div>
            <div flex="30" class="centerBannerRelative">
              <a href="http://www.cassacentrale.it"><img class="centerBannerDownCenterTN232"
                  ng-src="../game-dashboard/img/credits/cassaCentrale2022.jpg"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- Gorgonzola 2023 -->
  <div ng-if="sponsorTemplate == 'gorgonzola_2023'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">
      </div>
    </md-toolbar>
    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpTN">
          <div layout="row" class="centerBannerRowUpTN">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftTN"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 95%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a ng-click="goContent()" href class="centerBannerUpMiddleTN"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.kaleidoscopio.coop" class="centerBannerUpRightTN"><img
                  ng-src="../game-dashboard/img/credits/kaleidoscopio.svg" style="width: 95%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" class="centerBannerDownGG23">
          <div layout="row" class="centerBannerRowDownGG23">
            <div flex="30" class="centerBannerRelative">
              <a href="https://www.comune.gorgonzola.mi.it/"><img class="centerBannerDownCenterGG23"
                  ng-src="../game-dashboard/img/credits/gorgonzola.png"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- Ferrara -->
  <div ng-if="sponsorTemplate == 'ferrara'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">
        <div aria-label="Go Back" class="credits-banner " flex="25">
        </div>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="25">
          <a href="#" class="credit-banner"><img ng-src="../game-dashboard/img/credits/comuneFerrara.jpg"></a>
        </md-button>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="25">
          <a href="#" class="credit-banner"><img ng-src="../game-dashboard/img/credits/provinciaFerrara.png"></a>
        </md-button>
        <div aria-label="Go Back" class="credits-banner " flex="25">
        </div>
      </div>
    </md-toolbar>

    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpFR">
          <div layout="row" class="centerBannerRowUpFR">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftFR"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 100%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleFR"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.centroantartide.it" class="centerBannerUpRightFR"><img
                  ng-src="../game-dashboard/img/credits/antartide.svg" style="width: 100%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" style="position: relative;">
          <div layout="row" class="centerBannerDownFR">
            <div flex="40" class="centerBannerRelative">
              <a href="https://www.metropolidipaesaggio.it"><img class="centerBannerDownLeftFR"
                  ng-src="../game-dashboard/img/credits/landscapeMetropolis.png"></a>
            </div>
            <div flex="60" class="">
              <a href="http://www.climate-kic.org" class=""><img class="centerBannerDownRightFR"
                  ng-src="../game-dashboard/img/credits/KIC_EU.png"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- Ferrara -->
  <div ng-if="sponsorTemplate == 'ferrara_2022'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">
        <div aria-label="Go Back" class="credits-banner " flex="25">
        </div>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="25">
          <a href="#" class="credit-banner"><img ng-src="../game-dashboard/img/credits/comuneFerrara.jpg"></a>
        </md-button>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="25">
          <a href="#" class="credit-banner"><img ng-src="../game-dashboard/img/credits/provinciaFerrara.png"></a>
        </md-button>
        <div aria-label="Go Back" class="credits-banner " flex="25">
        </div>
      </div>
    </md-toolbar>

    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpFR">
          <div layout="row" class="centerBannerRowUpFR">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftFR"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 100%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleFR"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.centroantartide.it" class="centerBannerUpRightFR"><img
                  ng-src="../game-dashboard/img/credits/antartide.svg" style="width: 100%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" style="position: relative;">
          <div layout="row" class="centerBannerDownFR22">
            <div flex="40" class="centerBannerRelative">
              <a href="https://airbreakferrara.net/"><img class="centerBannerDownLeftFR22"
                  ng-src="../game-dashboard/img/credits/airbreak.png"></a>
            </div>
            <div flex="60" class="">
              <a href="https://uia-initiative.eu/en" class=""><img class="centerBannerDownRightFR22"
                  ng-src="../game-dashboard/img/credits/uia.png"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- Ferrara 2023-->
  <div ng-if="sponsorTemplate == 'ferrara_2023'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">
        <div aria-label="Go Back" class="credits-banner " flex="25">
        </div>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="25">
          <a href="https://www.comune.fe.it/" class="credit-banner"><img ng-src="../game-dashboard/img/credits/comuneFerrara.jpg"></a>
        </md-button>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="25">
          <a href="https://www.provincia.fe.it/" class="credit-banner"><img ng-src="../game-dashboard/img/credits/provinciaFerrara.png"></a>
        </md-button>
        <div aria-label="Go Back" class="credits-banner " flex="25">
        </div>
      </div>
    </md-toolbar>

    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpFR">
          <div layout="row" class="centerBannerRowUpFR">
            <div flex="40" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftFR23"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 100%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleFR"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" style="position: relative;">
          <div layout="row" class="centerBannerDownFR22">
            <div flex="40" class="centerBannerRelative">
              <a href="https://airbreakferrara.net/"><img class="centerBannerDownLeftFR22"
                  ng-src="../game-dashboard/img/credits/airbreak.png"></a>
            </div>
            <div flex="60" class="">
              <a href="https://uia-initiative.eu/en" class=""><img class="centerBannerDownRightFR22"
                  ng-src="../game-dashboard/img/credits/uia.png"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- Staffetta-->
  <div  style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="20">
          <a href="https://www.comune.fe.it/" class="credit-banner"><img ng-src="../game-dashboard/img/credits/comuneFerrara.jpg"></a>
        </md-button>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="20">
          <a href="https://www.provincia.fe.it/" class="credit-banner"><img ng-src="../game-dashboard/img/credits/provinciaFerrara.png"></a>
        </md-button>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="20">
          <a href="http://www.comune.lecco.it/" class="credit-banner"><img ng-src="../game-dashboard/img/credits/lecco.png"></a>
        </md-button>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="20">
          <a href="https://www.comune.gorgonzola.mi.it/" class="credit-banner"><img ng-src="../game-dashboard/img/credits/gorgonzola.png"></a>
        </md-button>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="20">
          <a href="https://www.regione.emilia-romagna.it/" class="credit-banner"><img ng-src="../game-dashboard/img/credits/regionerer.png"></a>
        </md-button>
      </div>
    </md-toolbar>

    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpFR">
          <div layout="row" class="centerBannerRowUpFR">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftStaffetta"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 100%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleFR"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.kaleidoscopio.coop" class="centerBannerUpRightTN"><img
                ng-src="../game-dashboard/img/credits/kaleidoscopio.svg" style="width: 95%;"></a>
                              <a href="https://www.legambientelecco.it/it/" class="centerBannerUpRightStaffetta"><img
                  ng-src="../game-dashboard/img/credits/legambienteWhite.png" style="width: 100%;"></a>
            </div>
            </div>
          </div>
        </div>

      </div>
       <div  style="position: relative;     display: flex;
       flex-direction: row;
       justify-content: space-around;">
        <div  class="centerBannerDownLeftStaffetta">
            <a href="http://www.cassacentrale.it" class="centerBannerDownLeftUPStaffetta"><img
            ng-src="../game-dashboard/img/credits/cassaCentrale2022.jpg" style="width: 95%; padding: 8px;"></a>
            <a href="http://www.gruppoitas.it" class="centerBannerDownLeftDOWNStaffetta"><img
              ng-src="../game-dashboard/img/credits/itas.jpg" style="width: 75%; padding: 8px;"></a>
       </div> 
       <div  class="centerBannerDownCenterStaffetta">
        <a href="https://airbreakferrara.net/" class="centerBannerDownLeftUPStaffetta"><img
          ng-src="../game-dashboard/img/credits/airbreak.png" style="width: 75%; float: right;"></a>
          <a href="https://uia-initiative.eu/en" class="centerBannerDownLeftDOWNStaffetta"><img
            ng-src="../game-dashboard/img/credits/uia.png" style="width: 75%; float: left;"></a>
      </div>
     <div  class="centerBannerDownRightStaffetta" style="display: flex;
     flex-direction: row;">
      <div style="    display: flex;
      flex-direction: column; justify-content: center; width: 5000px; "><a href="https://www.arpae.it/" class="centerBannerDownLeftUPStaffetta" style="width: 130%;"><img
        ng-src="../game-dashboard/img/credits/arpae.jpg" style="width: 95%;"></a></div>
        <div style="margin-left: 21%;">
          <a href="https://www.regione.emilia-romagna.it/" class="centerBannerDownLeftDOWNStaffetta" style="width:auto"><img
          ng-src="../game-dashboard/img/credits/rer2030.png" style="width: 95%;"></a>
          <a href="https://www.regione.emilia-romagna.it/infeas/chi-siamo/res" class="centerBannerDownLeftDOWNStaffetta" style="width:auto"><img
            ng-src="../game-dashboard/img/credits/res.png" style="width: 95%;"></a>
            </div>
   </div>
   </div>
          </div>
        </div>
    </md-content>
  </div>
  <!-- collecchio -->
  <div ng-if="sponsorTemplate == 'collecchio'" style="height: 100%;">
    <md-toolbar style="background-color: white">
    </md-toolbar>
    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpTN">
          <div layout="row" class="centerBannerRowUpTN">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftTN"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 95%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleTN"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.centroantartide.it" class="centerBannerUpRightFR"><img
                  ng-src="../game-dashboard/img/credits/antartide.svg" style="width: 100%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" class="centerBannerDownTN">
          <div layout="row" class="centerBannerRowDownCH">
            <div flex="100" class="centerBannerRelative">
              <a href="#"><img class="centerBannerDownCenterCH"
                  ng-src="../game-dashboard/img/credits/collecchio.gif"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- lecco -->
  <div ng-if="sponsorTemplate == 'lecco'" style="height: 100%;">
    <md-toolbar style="background-color: white">
    </md-toolbar>

    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpFR">
          <div layout="row" class="centerBannerRowUpFR">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftLE"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 100%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleLE"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.eco86.it/" class="centerBannerUpRightLE"><img
                  ng-src="../game-dashboard/img/credits/eco86_big.jpg" style="width: 100%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" style="position: relative; background:white;">
          <div layout="row" class="centerBannerDownLE">
            <div flex="50" class="centerBannerRelative">
              <a href="http://www.comune.lecco.it/"><img class="centerBannerDownLeftFR"
                  ng-src="../game-dashboard/img/credits/lecco.jpg" style="width: 20%;"></a>
            </div>
            <div flex="50" class="">
              <img class="centerBannerDownRightLE" ng-src="../game-dashboard/img/credits/piedibus.png"
                style="width: 10%;">
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- lecco 2022 -->
  <div ng-if="sponsorTemplate == 'lecco_2022'" style="height: 100%;">
    <md-toolbar style="background-color: white">
    </md-toolbar>

    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpFR">
          <div layout="row" class="centerBannerRowUpFR">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftLE"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 100%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleLE"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.eco86.it/" class="centerBannerUpRightLE22"><img
                  ng-src="../game-dashboard/img/credits/eco86white.png" style="width: 100%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" style="position: relative; background:white;">
          <div layout="row" class="centerBannerDownLE22">
            <div flex="25" class="centerBannerRelative">
              <a href="http://www.comune.lecco.it/"><img class="centerBannerDownLeftLE22"
                  ng-src="../game-dashboard/img/credits/lecco.jpg" style="width: 25%;"></a>
            </div>
            <div flex="25" class="">
              <img class="centerBannerDownCenter1LE22" ng-src="../game-dashboard/img/credits/piedibus.png"
                style="width: 5%;">
            </div>
            <div flex="25" class="">
              <img class="centerBannerDownCenter2LE22" ng-src="../game-dashboard/img/credits/silea.png"
                style="width: 5%;">
            </div>
            <div flex="25" class="">
              <img class="centerBannerDownRightLE22" ng-src="../game-dashboard/img/credits/lineelecco.png"
                style="width: 10%;">
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
   <!-- lecco 2023 -->
   <div ng-if="sponsorTemplate == 'lecco_2023'" style="height: 100%;">
    <md-toolbar style="background-color: white">
    </md-toolbar>

    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpFR">
          <div layout="row" class="centerBannerRowUpFR">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftLE"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 100%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleLE"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="https://www.legambientelecco.it/it/" class="centerBannerUpRightLE23"><img
                  ng-src="../game-dashboard/img/credits/legambienteWhite.png" style="width: 100%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" style="position: relative; background:white;">
          <div layout="row" class="centerBannerDownLE23">
            <div flex="100" class="centerBannerRelative">
              <a href="http://www.comune.lecco.it/"><img class="centerBannerDownLeftLE23"
                  ng-src="../game-dashboard/img/credits/lecco.jpg" style="width: 25%;max-width: 160px;"></a>
            </div>

          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- svizzera -->
  <div ng-if="sponsorTemplate == 'svizzera'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">
        <md-button aria-label="Go Back" class="credits-banner" flex="">
          <a href="https://www.supsi.ch/home" class="credit-banner"><img
              ng-src="../game-dashboard/img/credits/supsi.png"></a>
        </md-button>
        <md-button aria-label="Go Back" class="credits-banner" flex="">
          <a href="https://www.ata.ch/" class="credit-banner"><img ng-src="../game-dashboard/img/credits/ata.png"></a>
        </md-button>
        <md-button aria-label="Go Back" class="credits-banner" flex="">
          <a href="#" class="credit-banner"><img ng-src="../game-dashboard/img/credits/pedibussvizzera.jpg"></a>
        </md-button>

      </div>
    </md-toolbar>

    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpFR">
          <div layout="row" class="centerBannerRowUpFR">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftFR"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 100%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleFR"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" style="position: relative; background:white;">
          <div layout="row" class="centerBannerDownCH">
            <div flex="50" class="centerBannerRelative">
              <a href="https://www.stiftung-praevention.ch/"><img class="centerBannerDownLeftCH"
                  ng-src="../game-dashboard/img/credits/axa.jpg"></a>
            </div>
            <div flex="50" class="">
              <a href="http://s2hoes.ch/"><img class="centerBannerDownRightCH"
                  ng-src="../game-dashboard/img/credits/s2shoes.png" style="width: 15%;"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- svizzera 2023 -->
  <div ng-if="sponsorTemplate == 'svizzera_2023'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">

      </div>
    </md-toolbar>

    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpFR">
          <div layout="row" class="centerBannerRowUpFR">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftFR"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 100%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleFR"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- romagna -->
  <div ng-if="sponsorTemplate == 'romagna'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">
        <div aria-label="Go Back" class="credits-banner " flex="25">
        </div>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="25">
          <a href="https://www.google.com/url?sa=t&rct=j&q=&eng-src=s&source=web&cd=&ved=2ahUKEwi02-rbqdrsAhWKCuwKHbb0BV0QFjAGegQIChAC&url=https%3A%2F%2Fwww.regione.emilia-romagna.it%2Finfeas%2Fnotizie%2F2020%2Fallegati-notizie-2020%2Fagenda-2030-secondarie-2-grado.pdf%2F%40%40download%2Ffile%2Fagenda-2030-secondarie-2-grado.pdf&usg=AOvVaw2eNiPA6xK0Cq_zo4Rxin_r"
            class="credit-banner"><img ng-src="../game-dashboard/img/credits/rer2030.png"></a>
        </md-button>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="25">
          <a href="https://www.regione.emilia-romagna.it/infeas/chi-siamo/res" class="credit-banner"><img
              ng-src="../game-dashboard/img/credits/res.png"></a>
        </md-button>
        <div aria-label="Go Back" class="credits-banner " flex="25">
        </div>
      </div>
    </md-toolbar>

    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpFR">
          <div layout="row" class="centerBannerRowUpFR">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftFR"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 100%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleFR"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.centroantartide.it" class="centerBannerUpRightFR"><img
                  ng-src="../game-dashboard/img/credits/antartide.svg" style="width: 100%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" style="position: relative; background:white;">
          <div layout="row" class="centerBannerDownEE">
            <div flex="50" class="centerBannerRelative">
              <a href="https://www.arpae.it/"><img class="centerBannerDownLeftEE"
                  ng-src="../game-dashboard/img/credits/arpae.jpg"></a>
            </div>
            <div flex="50" class="">
              <a href="https://www.regione.emilia-romagna.it/" class=""><img class="centerBannerDownRightEE"
                  ng-src="../game-dashboard/img/credits/regionerer.png"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- romagna 2023-->
  <div ng-if="sponsorTemplate == 'romagna_2023'" style="height: 100%;">
    <md-toolbar style="background-color: white">
      <div class="md-toolbar-tools">
        <div aria-label="Go Back" class="credits-banner " flex="25">
        </div>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="25">
          <a href="https://www.regione.emilia-romagna.it/"
            class="credit-banner"><img ng-src="../game-dashboard/img/credits/rer2030.png"></a>
        </md-button>
        <md-button aria-label="Go Back" aria-label="Go Back" class="credits-banner " flex="25">
          <a href="https://www.regione.emilia-romagna.it/infeas/chi-siamo/res" class="credit-banner"><img
              ng-src="../game-dashboard/img/credits/res.png"></a>
        </md-button>
        <div aria-label="Go Back" class="credits-banner " flex="25">
        </div>
      </div>
    </md-toolbar>

    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpFR">
          <div layout="row" class="centerBannerRowUpFR">
            <div flex="40" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftFR23"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 95%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleEE23"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" style="position: relative; background:white;">
          <div layout="row" class="centerBannerDownEE">
            <div flex="50" class="centerBannerRelative">
              <a href="https://www.arpae.it/"><img class="centerBannerDownLeftEE"
                  ng-src="../game-dashboard/img/credits/arpae.jpg"></a>
            </div>
            <div flex="50" class="">
              <a href="https://www.regione.emilia-romagna.it/" class=""><img class="centerBannerDownRightEE"
                  ng-src="../game-dashboard/img/credits/regionerer.png"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <!-- URF -->
  <div ng-if="sponsorTemplate == 'urf'" style="height: 100%;">
    <md-toolbar style="background-color: white">
    </md-toolbar>

    <md-content flex layout-padding style="height: 100%; padding: 0px;">
      <div layout="column" layout-wrap="" style="height: 100%; padding: 0px;">
        <div flex="60" class="centerBannerUpFR">
          <div layout="row" class="centerBannerRowUpFR">
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.fbk.eu" class="centerBannerUpLeftFR"><img
                  ng-src="../game-dashboard/img/credits/fbk.svg" style="width: 100%;"></a>
            </div>
            <div flex="60" class="centerBannerRelative">
              <a href="http://www.kidsgogreen.eu" class="centerBannerUpMiddleFR"><img
                  ng-src="../game-dashboard/img/credits/kidsgogreen.png" style="width: 95%;"></a>
            </div>
            <div flex="20" class="centerBannerRelative">
              <a href="http://www.centroantartide.it" class="centerBannerUpRightFR"><img
                  ng-src="../game-dashboard/img/credits/antartide.svg" style="width: 100%;"></a>
            </div>
          </div>
        </div>
        <div flex="40" style="position: relative; background:white;">
          <div layout="row" class="centerBannerDownEE">
            <div flex="50" class="centerBannerRelative">
              <a href="http://www.romagnafaentina.it/"><img class="centerBannerDownLeftURF"
                  ng-src="../game-dashboard/img/credits/urf.png"></a>
            </div>
            <div flex="50" class="">
              <a href="ttps://www.minambiente.it/" class=""><img class="centerBannerDownRightURF"
                  ng-src="../game-dashboard/img/credits/mattm.png"></a>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
</div>
<div ng-show="!flashPublicData">
  <md-toolbar class="desktop bar-colors">
    <div class="md-toolbar-tools bar-colors">
      <h2 class="header-custom" flex="" md-truncate="">
        <span style="margin-right:4px;">{{gamePublicTitle}}:</span><span class="game-description"
          ng-bind-html="gamePublicDescription"></span>
      </h2>
      <md-button aria-label="Go Back" class="credits-banner">
        <a href="#" class="credit-banner"><img ng-src="../game-dashboard/img/credits/kidsgogreen.png"></a>
      </md-button>
    </div>
  </md-toolbar>
  <main layout="row" flex>
    <md-content flex>
      <ui-view name="content"></ui-view>
    </md-content>
  </main>
</div>